<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'details'">
  <app-personalstatement-crud [id]="id" modeName="detail"></app-personalstatement-crud>
</div>

<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-personalstatement-crud [id]="id" modeName="create"></app-personalstatement-crud>
</div>

<!--
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-personalstatement-crud [id]="id" modeName="debug"></app-personalstatement-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-personalstatement-crud [id]="id" modeName="fk_menu"></app-personalstatement-crud>
</div>
-->
