{
  "buildId": "__BUILD_ID__",
  "buildNumber": "__BUILD_NUMBER__",
  "buildTime": "__BUILD_TIME__",
  "buildJdk": "N/A",
  "buildUrl": null,
  "gitUrl": "__GIT_URL__",
  "gitBranch": "__GIT_BRANCH__",
  "gitCommit": "__GIT_COMMIT__",
  "builtBy": "cloudbuild",
  "implementationVersion": "__VERSION__",
  "implementationTitle": "__APP_NAME__",
  "implementationVendorId": "Trutesta",
  "specificationTitle": "__APP_NAME__",
  "specificationVersion": "mdb5.0.1",
  "dockerImageName": "__DOCKER_IMAGE__",
  "dockerImageVersion": "__DOCKER_TAG__"
}

