<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  
     
  <div *ngIf="currentTabId === 'myschool'">
    <app-provider-details-tab-myschool [id]="getOrganizationId()" modeName="detail"></app-provider-details-tab-myschool>
  </div>


  <div *ngIf="currentTabId === 'staff'">

    <app-org-school-staff-list [criteria]="getCriteriaForStaff()" [onRowClickBehavior]="onClickOrgStaffRowBehavior()"></app-org-school-staff-list>
  </div>
  
  <div *ngIf="currentTabId === 'invitations'">
    <app-provider-details-invitations-list [criteria]="getCriteriaForInvitations()"></app-provider-details-invitations-list>
  </div>
  
  <div *ngIf="currentTabId === 'staffmember'">
   <app-org-school-staff-crud [id]="childId" modeName="detail" ></app-org-school-staff-crud> 
  </div>

  

  <div *ngIf="this.isShowingDebug()">
    <li>CurrentId :{{currentTabId}}</li>
    <li>Id :{{id}}</li>
    <li>ChildId :{{childId}}</li>
    <li>Loading :{{loading}}</li>
    <li>ShowingTabset :{{showingTabset}}</li>
    <li>Tabs :{{tabs}}</li> 
    <li>OrganizationId :{{organizationId}}</li>
    <li>Criteria :{{getCriteriaForStaff() | json}}</li>
  </div>
</div>
