<div class="container-fluid" *ngIf="this.interestId !== '' && this.interestId !== null">

<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'details'">
  <!-- <app-catalogentryinterest-crud [id]="this.interestId" modeName="detail"></app-catalogentryinterest-crud> -->
  <div *ngIf="this.entryGETData !== null" class="catalog-entry-section mb-4"> 
    <app-catalogentry-crud 
      [id]="this.entryGETData?.id" 
      [modeName]="'section'">
    </app-catalogentry-crud>
  </div>
</div>

<div *ngIf="currentTabId === 'signupInfo'">
   Signup Information
</div>

<div *ngIf="currentTabId === 'message'">
  <app-pmessage-ui [id]="this.messageId"   ></app-pmessage-ui>
</div>
</div>