

<div class="search-list-container">
    <span *ngIf="showingSearchHeading" class="search-list-title">{{ this.searchHeading }}</span>
    <form *ngIf="showingSearch" class="search-list-search-bar" (submit)="onFormSubmit($event)">
      <div *ngIf="showingGoButton && !hideInternalButtons" class="search-list-button-bar">
        <button type="button" class="search-list-button-bar-button btn-primary" (click)="onGoClick()">{{ goButtonLabel }}</button> 
        &nbsp;
      </div>
        <input #searchInput type="text" class="search-list-input" [placeholder]="searchPlaceholder" (keydown.enter)="onFormSubmit($event)" />
      <button type="submit" class="search-list-input-button">
        <span class="material-icons" aria-label="Search">{{ searchButtonLabel }}</span>
      </button>
      <button *ngIf="showingAdvancedSearch" type="button" class="search-list-input-button" (click)="onAdvancedSearch()">
        <span class="material-icons" aria-label="Advanced Search">(AdvSrch)</span>
      </button>
      <button *ngIf="showingAddButton && !hideInternalButtons" type="button" class="search-list-input-button" (click)="onAdd()">
        <span class="material-icons" aria-label="Add">{{ addButtonLabel }}</span>
      </button>
    </form>

    <form *ngIf="!showingSearch" class="search-list-search-bar" >
      <div *ngIf="showingGoButton && !hideInternalButtons" class="search-list-button-bar">
        <button type="button" class="search-list-button-bar-button btn-primary" (click)="onGoClick()">{{ goButtonLabel }}</button> 
        &nbsp;
      </div>
      <button *ngIf="showingAddButton && !hideInternalButtons" type="button" class="search-list-input-button" (click)="onAdd()">
        <span class="material-icons" aria-label="Add">{{ addButtonLabel }}</span>
      </button>
    </form>
    <div #gridContainer class="search-list-grid"></div>
  </div>

  <div *ngIf="showingDiagnostics">
    <pre>{{ this.currentCriteria| json }}</pre>
  </div>