<div class="tabset">
  <ul class="tab-nav" *ngIf="displayMode === 'tabs'">
    <li 
      *ngFor="let tab of tabs"
      [class.active]="tab.id === currentTabId"
      (click)="selectTab(tab.id)"
      class="tab-item">
      <ng-container *ngIf="tab.showingTabFunction()">
        {{ tab.label }}
      </ng-container>
    </li>
  </ul>
  <div class="button-bar" *ngIf="displayMode === 'buttons'">
    Buttons
    <button *ngFor="let tab of tabs" (click)="selectTab(tab.id)">
      {{ tab.label }}
    </button>
  </div>
</div>
