<div class="tabset">
  <ul class="tab-nav" *ngIf="displayMode === 'tabs'">
    <ng-container *ngFor="let tab of tabs">
      <li
        *ngIf="tab.showingTabFunction()"
        [class.active]="tab.id === currentTabId"
        (click)="selectTab(tab.id)"
        class="tab-item">
        {{ tab.label }}
      </li>
    </ng-container>
  </ul>
  <div class="button-bar" *ngIf="displayMode === 'buttons'">
    <button *ngFor="let tab of tabs" (click)="selectTab(tab.id)">
      {{ tab.label }}
    </button>
  </div>
</div>
