.student-profile-ui {
  .accordion-body-content {
    padding-top: 0.25rem;
  }

  .form-label {
    font-weight: 600;
  }

  .consents-table {
    th {
      font-weight: 600;
      white-space: nowrap;
    }

    td {
      vertical-align: middle;
    }
  }
}
