<div class="buba-container catalog-buba">
  <div class="catalog-organization">
    <strong>{{theUser.name}}</strong>
  </div>
  <div class="catalog-name">
    {{userCode}}
  </div>
  <div class="catalog-details">
    <span class="catalog-id">Email: {{userEmail}}</span>
    <span class="catalog-id">Cell: {{cellPhoneNumber}}</span>
    <span class="catalog-id">Work: {{workPhoneNumber}}</span>
    <span class="catalog-id">Handle: {{messageHandle}}</span>
    <span class="catalog-id">{{description}}</span>
    <span class="catalog-id">Last Updated: {{dateLastUpdated.date}}</span>
  </div>
</div>
