<div class="buba-container">
  <div class="buba-header">
    <strong>{{theUser.name}}</strong>
  </div>
  <div class="buba-name">
    {{userCode}}
  </div>
  <div class="buba-details">
    <span class="buba-id">Email: {{userEmail}}</span>
    <span class="buba-id">Cell: {{cellPhoneNumber}}</span>
    <span class="buba-id">Work: {{workPhoneNumber}}</span>
    <span class="buba-id">Handle: {{messageHandle}}</span>
    <span class="buba-id">{{description}}</span>
    <span class="buba-id">Last Updated: {{dateLastUpdated.date}}</span>
  </div>
</div>
