<div class="buba-container">
  <i class="{{icon}}"></i>
  <span class="buba-name">{{name}}</span>
  <span class="buba-id">({{entityId}})</span>
  <div class="buba-details">
    <span class="buba-description" *ngIf="description">{{description}}</span>
    <span class="buba-code" *ngIf="businessCode">Code: {{businessCode}}</span>
    <span class="buba-type" *ngIf="statementTypeCode">Type: {{statementTypeCode}}</span>
    <span class="buba-status" *ngIf="status">Status: {{status}}</span>
  </div>
</div>

