<!-- <pre> buttonBar: {{ buttonBar.hidingButtonBar   }}</pre> -->
<div *ngIf="!buttonBar.hidingButtonBar" class="buttonbar">
  <div class="button-bar" *ngIf="displayMode === 'buttons'">
          <ng-container *ngFor="let button of buttonBar.buttons">
        <button 
          mat-button
          *ngIf="button.showingButtonFunction()"
          (click)="selectButton(button.id)"
          class="button-item">
          {{ button.label }}
        </button>
      </ng-container>
  </div>
  
  <div class="select-bar" *ngIf="displayMode === 'select'">
    <select 
      class="form-select"
      (change)="onDropdownChange($event)"
      [value]="''">
      <option value="" disabled>{{ placeholder }}</option>
      <ng-container *ngFor="let button of buttonBar.buttons">
        <option 
          *ngIf="button.showingButtonFunction()"
          [value]="button.id">
          {{ button.label }}
        </option>
      </ng-container>
    </select>
  </div>
  
</div>
