

<div *ngIf="!loading">
  <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

   
<div *ngIf="currentTabId === 'home'">
  
  <ng-container *ngFor="let block of workRequestListBlocks">
    <h4>{{block.title}} Tickets </h4>
    <app-workrequest-list [criteria]="block.criteria" [showingSearchHeading]="false" 
    [showingSearch]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
    [onRowClickBehavior]="onClickWorkRequestRow()"></app-workrequest-list>
  </ng-container>

  <h4>My Accepted Open Tickets</h4>
  <app-workrequest-list [criteria]="getMyAcceptedOpenTickets()" [showingSearchHeading]="false" 
  [showingSearch]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
  [onRowClickBehavior]="onClickWorkRequestRow()"></app-workrequest-list>

  <h4>All Tickets</h4> 
  <app-workrequest-list   [showingSearchHeading]="false" 
  [showingSearch]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
  [onRowClickBehavior]="onClickWorkRequestRow()"></app-workrequest-list>
</div>
 
<div *ngIf="currentTabId === 'messages'">
  <h2>Messages</h2>

  <app-advo-messages [id]="id" modeName="detail"></app-advo-messages>

</div> 


<div *ngIf="currentTabId === 'ticket-history'">
  <h2>Ticket history</h2>

</div> 

<div *ngIf="true">
<li>CurrentId :{{currentTabId}}</li>
<li>Id :{{id}}</li>
<li>ChildId :{{childId}}</li>
<li>Loading :{{loading}}</li>
<li>ShowingTabset :{{showingTabset}}</li>
<li>Tabs :{{tabs}}</li> 
</div>
</div>