<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  
     
  <div *ngIf="currentTabId === 'mydash'">
    <app-provider-dashboard-tab-mydash [id]="getOrganizationId()" modeName="detail"></app-provider-dashboard-tab-mydash>
  </div>

  <div *ngIf="currentTabId === 'profile'">
    <app-provider-dashboard-tab-profile [id]="getOrganizationId()" modeName="detail"></app-provider-dashboard-tab-profile>
  </div>

  <div *ngIf="currentTabId === 'setup'">
    <app-provider-dashboard-tab-setup [id]="getOrganizationId()" modeName="detail"></app-provider-dashboard-tab-setup>
  </div>
</div>
