<!-- Modal Header -->
<div class="modal-header">
  <h5 class="modal-title">Attach RFI Content - Add Entries</h5>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>

<!-- Modal Body -->
<div class="modal-body" *ngIf="isLoading() === false">
     
      <app-catalogentry-list [criteria]="this.getCriteriaForSearch()" 
      [showingSearch]="true" [showingSearchHeading]="false" 
      [searchHeadingLabel]="'...'"
      [onRowClickBehavior]="clickRowToShowEntry()"
      [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="true" 
      [onGoClickAction]="getOnGoAddCatalogEntriesToRFI()" 
      [buttonBar]="getSelectedActionsButtonBar()" 
      [otherData]="getCatalogEntryOtherData()"
      ></app-catalogentry-list> 
  
</div>

<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
