<!-- 
  This component handles all WorkRequestItem operations.
  It displays the work request item details and action-specific content.
-->

<div *ngIf="loading" class="loading-indicator">
  <p>Loading work request item...</p>
</div>

<div *ngIf="!loading && !id" class="no-id-message">
  <p>No work request item selected.</p>
</div>

<div *ngIf="!loading && entity !== null && id">

  <div *ngIf="canChangeWorkItemStateToComplete() === true" class="detail-group">
    <!-- <label>Current State Code:</label>
    <span>{{ getCurrentStateCode() }} 
    <input type="button" value="Complete Item" (click)="openCompleteWorkRequestItemModal()"></span> -->
  </div>
  
 
  <div *ngIf="isActionCode('EnqueueRFI')">
    <h6>Show Enqueue RFI Content</h6>
  </div>

  <div *ngIf="isActionCode('AttachRFIContent')">
    <div *ngIf="!isCurrentStateCode('completed')">
      <app-workrequestitem-attachrficontent-addentries [id]="workRequestId || ''" [childId]="id || ''"></app-workrequestitem-attachrficontent-addentries>
    </div>

    <div *ngIf="isCurrentStateCode('completed') && hasWorkItemDeliverable()">
      <app-workitemdeliverable-crud [id]="getWorkItemDeliverableId()" modeName="section"></app-workitemdeliverable-crud>
    </div>
  </div>

  <div *ngIf="isActionCode('Signup')">
    <h6>Show Signup Content {{ id }}</h6>
    <app-workrequestitem-signup [id]="this.id || ''"></app-workrequestitem-signup>
  </div>
</div>

