<!-- 
This shows the catalog entries that are available to add to the RFI.
The user can remove the selected entries from the RFI.
The user can add the selected entries to the RFI.
The user can close the RFI.
The user can mark the RFI as completed.
The user can mark the RFI as incomplete.
The user can mark the RFI as in progress.
The user can mark the RFI as not started.
-->


<div *ngIf="isLoading() === false">
  
    <app-catalogsearchresultentry-list [criteria]="this.getCriteriaForEntries()" 
    [showingSearch]="false" 
    [showingSearchHeading]="!this.isStateCompleted()" 
    [searchHeadingLabel]="'Add selected Entries from catalog  ' + getCatalogCode()"
    [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="!this.isStateCompleted()" [onRowClickBehavior]="clickRowToShowEntry()"
    [onGoClickAction]="getOnGoRemoveCatalogEntriesToRFI()" goButtonLabel="Remove Selected Items" 
    [buttonBar]="getSelectedActionsButtonBar()"
    [otherData]="getCatalogEntryOtherData()"></app-catalogsearchresultentry-list> 
    

</div>


