<!-- DEBUG: Attach RFI Content Component Loaded -->

<div *ngIf="isLoading() === false">

    <div *ngIf="isWorkRequestItemInProcess() === true" class="detail-group">
        <label>Current State Code:</label>
        <span>{{ this.workRequestItem?.getCurrentStateCode() }} <input type="button" value="Complete Item" (click)="changeWorRequestItemStateToComplete()"></span>
    </div>

    <app-catalogsearchresult-crud [id]="this.catalogSearchResult?.id" modeName="section"></app-catalogsearchresult-crud>
    <hr>
<div *ngIf="isWorkRequestItemComplete() === true">
    <app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>
    
  
<app-catalogsearchresultentry-list [criteria]="this.getCriteriaForEntries()" [showingSearch]="false" 
[showingSearchHeading]="true" 
[searchHeadingLabel]="'Selected Catalog Entries'"
[showingGoButton]="true" [showingAddButton]="false" [showingIdCheckbox]="true" [onRowClickBehavior]="clickRowToShowEntry()"
[onGoClickAction]="getOnGoRemoveCatalogEntriesToRFI()" goButtonLabel="Remove Selected Items" 
[otherData]="getCatalogEntryOtherData()"></app-catalogsearchresultentry-list> 
<hr>
<app-catalogentry-list [criteria]="this.getCriteriaForSearch()" [showingSearch]="true" [showingSearchHeading]="true" 
[searchHeadingLabel]="'Search for Catalog Entries to Add'"
[showingGoButton]="true" [showingAddButton]="false" [showingIdCheckbox]="true" [onRowClickBehavior]="clickRowToShowEntry()"
[onGoClickAction]="getOnGoAddCatalogEntriesToRFI()" goButtonLabel="Add Selected Items" 
[otherData]="getCatalogEntryOtherData()"></app-catalogentry-list> 
</div>

</div>
<pre>currentMode: "{{ currentMode }}"</pre> 
<pre>currentMode: "{{ currentMode }}"</pre> 
