
<!-- DEBUG: Enqueue RFI Component Loaded -->
<app-workrequestitem-crud [id]="id" [modeName]="CRUD_MODES.SECTION"></app-workrequestitem-crud> 

<app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>

<div *ngIf="false && !isLoading()">
    <h3>Send request to a provider </h3>


    <app-menu-control-data-list
              [menuControlDataList]="this.menuQueues || null"
              placeholder="Select work queue..."
              (selectionChange)="onWorkQueueChange($event)">
            </app-menu-control-data-list>
    <button (click)="createItemViewPost()" class="btn btn-primary">Create Ticket</button>
</div>

<div *ngIf="!isLoading()">
  <app-std-mdb-form-text 
  prefix="workRequest" 
  name="comments"
  label="Provider Instructions"
  [required]="true"
  [error]="false"
  [(ngModel)]="comments">
</app-std-mdb-form-text>

<app-provider-workqueue-list [showingSearch]="true" [showingSearchHeading]="true" 
  [searchHeadingLabel]="'Choose Providers to Assist'"
  [criteria]="getCriteriaForProviders()"
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="true" [hideInternalButtons]="true"
  [onRowClickBehavior]="onClickProviderRow()"
  (selectedIdsChanged)="onProviderSelectionChanged($event)"></app-provider-workqueue-list>

<button (click)="createItemViewPost()" class="btn btn-primary" [disabled]="providerIds.length === 0">
  Send to {{ providerIds.length }} Provider{{ providerIds.length !== 1 ? 's' : '' }}
</button>
  
</div>


<div *ngIf=" false && !isLoading() && currentMode === 'createItemView'">
<pre>currentMode: "{{ currentMode }}"</pre>
<pre>currentMode type: {{ typeof currentMode }}</pre>
<pre>currentMode === 'createItemView': {{ currentMode === 'createItemView' }}</pre>
<pre>currentMode === "createItemView": {{ currentMode === "createItemView" }}</pre>
<pre>currentMode == 'createItemView': {{ currentMode == 'createItemView' }}</pre>
<pre *ngIf="!isLoading() && currentMode === 'createItemView'">{{ currentMode }} enqueue rfi</pre>
<pre> See! {{ currentMode }}</pre>
<pre>menuQueues: {{ menuQueues | json }}</pre>
<pre>isLoading: {{ isLoading() }}</pre>
</div>
<!-- <pre>{{ entity.dump() }}</pre>  -->
 