
<!-- DEBUG: Attach RFI Content Component Loaded -->
<app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>

<div *ngIf="!isLoading()">
    <h3>Attach RFI Content {{ isLoading() }} {{ currentMode }} </h3>
    <app-std-mdb-form-text 
        prefix="workRequest" 
        name="speaker_notes"
        label="Notes"
        [required]="true"
        [error]="false"
        [(ngModel)]="notes">
      </app-std-mdb-form-text>
    <app-menu-control-data-list
              [menuControlDataList]="this.menuCatalogs || null"
              placeholder="Select catalog..."
              (selectionChange)="onCatalogChange($event)">
            </app-menu-control-data-list>
    <button (click)="createItemViewPost()" class="btn btn-primary">Attach RFI Content</button>
</div>

<div *ngIf="!isLoading() && currentMode === 'createItemView'">
<pre>currentMode: "{{ currentMode }}"</pre>
<pre>currentMode type: {{ typeof currentMode }}</pre>
<pre>currentMode length: {{ currentMode?.length }}</pre>
<pre>currentMode === 'createItemView': {{ currentMode === 'createItemView' }}</pre>
<pre>currentMode === "createItemView": {{ currentMode === "createItemView" }}</pre>
<pre>currentMode == 'createItemView': {{ currentMode == 'createItemView' }}</pre>
<pre>currentMode.trim() === 'createItemView': {{ currentMode?.trim() === 'createItemView' }}</pre>
<pre *ngIf="!isLoading() && currentMode === 'createItemView'">{{ currentMode }} attach rfi content</pre>
<pre> See! {{ currentMode }}</pre> 
<pre>isLoading: {{ isLoading() }}</pre>

<!-- <pre>{{ entity.dump() }}</pre>  -->

{{ currentMode }} 
{{ this.workItemFormResponse | json }}
