.onboard-catalogentry-ui {
  .accordion-body-content {
    padding-top: 0.25rem;
  }

  .readonly-value {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 0.75rem;
    background-color: #f8f9fa;
    white-space: pre-wrap;
  }
}
