<div class="search-list-container">
  <h2>CL Schools Integration</h2>
  <div class="search-list-button-bar">
    <button (click)="onGoClick()" class="search-list-button-bar-button">Go</button>
    <button (click)="onAddSchool()" class="search-list-button-bar-button btn-primary">Add School</button>
    <button (click)="onSyncSchools()" class="search-list-button-bar-button btn-success">Sync Schools</button>
  </div>
  <form class="search-list-search-bar" (submit)="onSearch(searchInput.value); $event.preventDefault();">
    <input #searchInput type="text" placeholder="search by name or school code, * for wildcard" class="search-list-input" />
    <button type="submit" class="search-list-input-button">
      <span class="material-icons" aria-label="Search">search</span>
    </button>
    <button type="button" class="search-list-input-button" (click)="onAdvancedSearch()">
      <span class="material-icons" aria-label="Advanced Search">tune</span>
    </button>
  </form>
  <div #gridContainer class="search-list-grid"></div>
</div> 