<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'list'">
  <h1>Schools Administration</h1>
  <button class="btn btn-primary" (click)="onClickAddSchool()">Add School</button>
  <app-hcclorganization-list [criteria]="getCriteria()" [onRowClickBehavior]="onClickOrgRowBehavior()"
  [showingAddButton]="false" [showingGoButton]="false" [showingIdCheckbox]="false" [showingSearchHeading]="false"
   ></app-hcclorganization-list>
</div>

<div *ngIf="currentTabId === 'details'">
  <h3>School Details </h3>
  <app-org-school-crud [id]="id" modeName="detail"></app-org-school-crud> 
</div>

<div *ngIf="currentTabId === 'create'">
  <h3>Create New School</h3>
  <app-org-school-crud [entityForCreate]="entityForCreate" modeName="create"></app-org-school-crud>
</div>

<div *ngIf="currentTabId === 'staff'">
  <app-org-school-crud [id]="id" modeName="section"></app-org-school-crud>
  <hr/>
  <app-org-school-staff-list [criteria]="getCriteriaForStaff()" [onRowClickBehavior]="onClickOrgStaffRowBehavior()"></app-org-school-staff-list>
</div>


<div *ngIf="currentTabId === 'staffmember'">
  <app-org-school-crud [id]="id" modeName="section"></app-org-school-crud>
  <hr/>
  <app-org-school-staff-crud [id]="childId" modeName="details" ></app-org-school-staff-crud>
</div>


<!-- 
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-hcclorganization-crud [id]="id" modeName="debug"></app-hcclorganization-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-hcclorganization-crud [id]="id" modeName="fk_menu"></app-hcclorganization-crud>
</div>  -->

<hr/>
{{ currentTabId }}