<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'list'">
  <app-hcclorganization-list [criteria]="getCriteria()" [onRowClickBehavior]="onClickOrgRowBehavior()"
  [showingAddButton]="true" [showingGoButton]="false" [showingIdCheckbox]="false" [showingSearchHeading]="false" ></app-hcclorganization-list>
</div>

<div *ngIf="currentTabId === 'details'">
  <app-hcclorganization-crud [id]="id" modeName="detail"></app-hcclorganization-crud>
</div>

<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-hcclorganization-crud [id]="id" modeName="create"></app-hcclorganization-crud>
</div>
<!-- 
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-hcclorganization-crud [id]="id" modeName="debug"></app-hcclorganization-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-hcclorganization-crud [id]="id" modeName="fk_menu"></app-hcclorganization-crud>
</div>  -->

{{ currentTabId }}