<div class="search-list-container">
  <h2>Organization Queues</h2>
  <div *ngIf="getParentEntity()" class="search-list-parent-entity-info">
    <h3>Organization: {{ getParentEntity()?.name }}</h3>
    <p *ngIf="getParentEntity()?.description">{{ getParentEntity()?.description }}</p>
  </div>
  <form class="search-list-search-bar" (submit)="onSearch(searchInput.value); $event.preventDefault();">
    <input #searchInput type="text" class="search-list-input" placeholder="search by queue name, * for wildcard" />
    <button type="submit" class="search-list-input-button">
      <span class="material-icons" aria-label="Search">search</span>
    </button>
    <button type="button" class="search-list-input-button" (click)="onAdvancedSearch()">
      <span class="material-icons" aria-label="Advanced Search">tune</span>
    </button>
  </form>
  <div #gridContainer class="search-list-grid"></div>
</div> 