{
  "openapi": "3.0.1",
  "info": {
    "title": "TruTesta HCCL REST Services",
    "description": "HCCL Services Application",
    "termsOfService": "http://www.sematree.com",
    "contact": {
      "name": "API Team",
      "url": "http://www.sematree.com",
      "email": "apiteam@sematree.com"
    },
    "license": {
      "name": "",
      "url": ""
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://devops2.intigna.io/trutesta-hccl-services"
    }
  ],
  "paths": {
    "/hccl/healthchecks/servicemanifest": {
      "get": {
        "tags": [
          "/healthchecks"
        ],
        "summary": "Fetches the service manifest created during build.",
        "operationId": "getCurrentManifest",
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/healthchecks/internals.json": {
      "get": {
        "tags": [
          "/healthchecks"
        ],
        "summary": "Fetches the Swagger, replacing the host with property file entry.",
        "operationId": "getInternals",
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/healthchecks/swagger.json": {
      "get": {
        "tags": [
          "/healthchecks"
        ],
        "summary": "Fetches the Swagger, replacing the host with property file entry.",
        "operationId": "getSwagger",
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/healthchecks/ping": {
      "get": {
        "tags": [
          "/healthchecks"
        ],
        "summary": "Ping the Service.",
        "operationId": "ping",
        "responses": {
          "204": {
            "description": "Service is Reachable"
          }
        }
      }
    },
    "/hccl/healthchecks/database": {
      "get": {
        "tags": [
          "/healthchecks"
        ],
        "summary": "Runs Health Check on Database and return Results.",
        "operationId": "runHealthCheckOnDatabase",
        "responses": {
          "200": {
            "description": "Service is Healthy"
          },
          "503": {
            "description": "Service is Unavailable"
          }
        }
      }
    },
    "/hccl/debug/loggers": {
      "get": {
        "tags": [
          "/debug/loggers"
        ],
        "summary": "Fetches all the Loggers.",
        "operationId": "getAllLoggers",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/debug/loggers/changeloggerlevel": {
      "put": {
        "tags": [
          "/debug/loggers"
        ],
        "summary": "Updates an existing Logger Level.",
        "operationId": "updateLoggerLevel",
        "requestBody": {
          "description": "Updates an existing Logger Level.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/LoggerConfigurationPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions": {
      "get": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Fetches all Job Definitions.",
        "operationId": "getJobDefinitions_1",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isPaging",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Create a new Job Definition.",
        "operationId": "createJobDefinition",
        "requestBody": {
          "description": "Create a new Job Definition.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/JobDefinitionPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/{id}": {
      "get": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Fetches a Job Definition based on its id.",
        "operationId": "getJobDefinitionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "isError",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Updates an existing Job Definition.",
        "operationId": "updateJobDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updates an existing Job Definition.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/JobDefinitionPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Deletes an existing Job Definition.",
        "operationId": "deleteJobDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/query-job-definitions": {
      "post": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Fetches all Job Definitions.",
        "operationId": "getJobDefinitions",
        "requestBody": {
          "description": "Fetches all Job Definitions.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/JobDefinitionCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/initialize": {
      "post": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Initializes Job Definitions from Quartz XML File.",
        "operationId": "initializeJobDefinitions",
        "parameters": [
          {
            "name": "enableJob",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/{definition-id}/process-logs": {
      "get": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Fetches all Job Process Logs.",
        "operationId": "getJobProcessLogs",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateCreated",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "isNotCompleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isPaging",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "post": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Create a new Job Process Log.",
        "operationId": "createJobProcessLog",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Create a new Job Process Log.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/JobProcessLogPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/{definition-id}/process-logs/{id}": {
      "get": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Fetches a Job Process Log based on its id.",
        "operationId": "getJobProcessLogById",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Updates an existing Job Process Log.",
        "operationId": "updateJobProcessLog",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updates an existing Job Process Log.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/JobProcessLogPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Deletes an existing Job Process Log.",
        "operationId": "deleteJobProcessLog",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/job-definitions/{definition-id}/process-logs/{log-id}/completed": {
      "put": {
        "tags": [
          "/job-definitions"
        ],
        "summary": "Set Job Process Log as Completed.",
        "operationId": "setJobProcessLogCompleted",
        "parameters": [
          {
            "name": "definition-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "log-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/{id}/cancel": {
      "put": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Cancels an existing Service Event Log.",
        "operationId": "cancelServiceEventLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "406": {
            "description": "Not Accepted"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Create a new Service Event Log.",
        "operationId": "createServiceEventLog",
        "requestBody": {
          "description": "Create a new Service Event Log.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/events": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Create multiple service event log entries.",
        "operationId": "createServiceEventLogs",
        "requestBody": {
          "description": "Create multiple service event log entries.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ServiceEventLogPOSTData"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/{id}": {
      "get": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Fetches a Service Event Log based on its id.",
        "operationId": "getServiceEventLogById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Updates an existing Service Event Log.",
        "operationId": "updateServiceEventLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updates an existing Service Event Log.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Deletes an existing Service Event Log.",
        "operationId": "deleteServiceEventLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Ok"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/{service-event-log-id}/download-file": {
      "get": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Used to download the file.",
        "operationId": "downloadFile",
        "parameters": [
          {
            "name": "service-event-log-id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/query-logs": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Fetches all Service Event Logs.",
        "operationId": "getServiceEventLogs",
        "requestBody": {
          "description": "Fetches all Service Event Logs.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/query-event-summary-by-name": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Fetches a summary Service Event Logs.",
        "operationId": "queryEventSummaryByDisplayNameAndEventName",
        "requestBody": {
          "description": "Fetches a summary Service Event Logs.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/query-event-summary": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Fetches a summary Service Event Logs and groups by event.",
        "operationId": "queryEventSummaryByEventName",
        "requestBody": {
          "description": "Fetches a summary Service Event Logs and groups by event.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/service-event-logs/query-event-summary-by-reference": {
      "post": {
        "tags": [
          "/service-event-logs"
        ],
        "summary": "Fetches a summary Service Event Logs and groups by reference.",
        "operationId": "queryEventSummaryByReferenceIdAndEventName",
        "requestBody": {
          "description": "Fetches a summary Service Event Logs and groups by reference.",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ServiceEventLogCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ok"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedinstance": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryFeedInstance.",
        "operationId": "createCatalogEntryFeedInstance_1",
        "requestBody": {
          "description": "New CatalogEntryFeedInstance data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedInstancePOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedinstance/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryFeedInstanceById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedInstanceGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntryFeedInstance.",
        "operationId": "updateCatalogEntryFeedInstanceById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntryFeedInstance data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedInstancePUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntryFeedInstance.",
        "operationId": "deleteCatalogEntryFeedInstanceById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedinstance/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntryFeedInstances.",
        "operationId": "findCatalogEntryFeedInstances_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedInstanceCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedInstanceGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedinstance/{id}/hint": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryFeedInstanceByIdWithHint_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hint",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedInstanceGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedprofile": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryFeedProfile.",
        "operationId": "createCatalogEntryFeedProfile_1",
        "requestBody": {
          "description": "New CatalogEntryFeedProfile data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedProfilePOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedprofile/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryFeedProfileById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedProfileGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntryFeedProfile.",
        "operationId": "updateCatalogEntryFeedProfileById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntryFeedProfile data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedProfilePUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntryFeedProfile.",
        "operationId": "deleteCatalogEntryFeedProfileById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedprofile/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntryFeedProfiles.",
        "operationId": "findCatalogEntryFeedProfiles_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryFeedProfileCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedProfileGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryfeedprofile/{id}/hint": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryFeedProfileByIdWithHint_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hint",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryFeedProfileGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrygroupref": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryGroupRef.",
        "operationId": "createCatalogEntryGroupRef_1",
        "requestBody": {
          "description": "New CatalogEntryGroupRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryGroupRefPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrygroupref/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryGroupRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryGroupRefGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntryGroupRef.",
        "operationId": "updateCatalogEntryGroupRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntryGroupRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryGroupRefPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntryGroupRef.",
        "operationId": "deleteCatalogEntryGroupRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrygroupref/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntryGroupRefs.",
        "operationId": "findCatalogEntryGroupRefs_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryGroupRefCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryGroupRefGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryinterest": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryInterest.",
        "operationId": "createCatalogEntryInterest_1",
        "requestBody": {
          "description": "New CatalogEntryInterest data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryInterestPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryinterest/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryInterestById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hint",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryInterestGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntryInterest.",
        "operationId": "updateCatalogEntryInterestById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntryInterest data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryInterestPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntryInterest.",
        "operationId": "deleteCatalogEntryInterestById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryinterest/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntryInterests.",
        "operationId": "findCatalogEntryInterests_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryInterestCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryInterestGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentryinterest/show-interest": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryInterest.",
        "operationId": "showInterest_1",
        "requestBody": {
          "description": "New or updated CatalogEntryInterest data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryInterestPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentry": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntry.",
        "operationId": "createCatalogEntry_1",
        "requestBody": {
          "description": "New CatalogEntry data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentry/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntry.",
        "operationId": "updateCatalogEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntry data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntry.",
        "operationId": "deleteCatalogEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentry/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntrys.",
        "operationId": "findCatalogEntrys_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentry/query-using-vocode": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntrys.",
        "operationId": "findCatalogEntrysUsingVocode_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/VeiSearchResultsGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentry/{id}/hint": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryByIdWithHint_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hint",
            "in": "query",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrysignuppacket": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntrySignupPacket.",
        "operationId": "createCatalogEntrySignupPacket_1",
        "requestBody": {
          "description": "New CatalogEntrySignupPacket data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntrySignupPacketPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrysignuppacket/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntrySignupPacketById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntrySignupPacketGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntrySignupPacket.",
        "operationId": "updateCatalogEntrySignupPacketById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntrySignupPacket data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntrySignupPacketPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntrySignupPacket.",
        "operationId": "deleteCatalogEntrySignupPacketById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrysignuppacket/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntrySignupPackets.",
        "operationId": "findCatalogEntrySignupPackets_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntrySignupPacketCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntrySignupPacketGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrytag": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogEntryTag.",
        "operationId": "createCatalogEntryTag_1",
        "requestBody": {
          "description": "New CatalogEntryTag data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryTagPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrytag/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogEntryTagById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryTagGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogEntryTag.",
        "operationId": "updateCatalogEntryTagById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogEntryTag data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryTagPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogEntryTag.",
        "operationId": "deleteCatalogEntryTagById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogentrytag/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogEntryTags.",
        "operationId": "findCatalogEntryTags_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogEntryTagCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogEntryTagGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresultentry": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogSearchResultEntry.",
        "operationId": "createCatalogSearchResultEntry_1",
        "requestBody": {
          "description": "New CatalogSearchResultEntry data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultEntryPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresultentry/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogSearchResultEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResultEntryGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogSearchResultEntry.",
        "operationId": "updateCatalogSearchResultEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogSearchResultEntry data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultEntryPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogSearchResultEntry.",
        "operationId": "deleteCatalogSearchResultEntryById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresultentry/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogSearchResultEntrys.",
        "operationId": "findCatalogSearchResultEntrys_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultEntryCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResultEntryGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresult": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogSearchResult.",
        "operationId": "createCatalogSearchResult_1",
        "requestBody": {
          "description": "New CatalogSearchResult data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresult/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogSearchResultById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResultGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogSearchResult.",
        "operationId": "updateCatalogSearchResultById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogSearchResult data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogSearchResult.",
        "operationId": "deleteCatalogSearchResultById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearchresult/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogSearchResults.",
        "operationId": "findCatalogSearchResults_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchResultCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchResultGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearch": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogSearch.",
        "operationId": "createCatalogSearch_1",
        "requestBody": {
          "description": "New CatalogSearch data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearch/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogSearchById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogSearch.",
        "operationId": "updateCatalogSearchById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogSearch data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogSearch.",
        "operationId": "deleteCatalogSearchById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogsearch/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogSearchs.",
        "operationId": "findCatalogSearchs_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSearchCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSearchGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalog": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new Catalog.",
        "operationId": "createCatalog_1",
        "requestBody": {
          "description": "New Catalog data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalog/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing Catalog.",
        "operationId": "updateCatalogById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated Catalog data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing Catalog.",
        "operationId": "deleteCatalogById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalog/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all Catalogs.",
        "operationId": "findCatalogs_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtagref": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogTagRef.",
        "operationId": "createCatalogTagRef_1",
        "requestBody": {
          "description": "New CatalogTagRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTagRefPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtagref/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogTagRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTagRefGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogTagRef.",
        "operationId": "updateCatalogTagRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogTagRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTagRefPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogTagRef.",
        "operationId": "deleteCatalogTagRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtagref/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogTagRefs.",
        "operationId": "findCatalogTagRefs_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTagRefCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTagRefGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtyperef": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new CatalogTypeRef.",
        "operationId": "createCatalogTypeRef_1",
        "requestBody": {
          "description": "New CatalogTypeRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTypeRefPOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtyperef/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getCatalogTypeRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTypeRefGETData"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "put": {
        "tags": [
          "/catalog"
        ],
        "summary": "Updates and existing CatalogTypeRef.",
        "operationId": "updateCatalogTypeRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated CatalogTypeRef data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTypeRefPUTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      },
      "delete": {
        "tags": [
          "/catalog"
        ],
        "summary": "Deletes an existing CatalogTypeRef.",
        "operationId": "deleteCatalogTypeRefById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/catalogtyperef/query": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches all CatalogTypeRefs.",
        "operationId": "findCatalogTypeRefs_1",
        "requestBody": {
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/CatalogTypeRefCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogTypeRefGETDataSearchResults"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "206": {
            "description": "Partial Content"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/feedentryinstance": {
      "post": {
        "tags": [
          "/catalog"
        ],
        "summary": "Create a new FeedEntryInstance.",
        "operationId": "createFeedEntryInstance_1",
        "requestBody": {
          "description": "New FeedEntryInstance data",
          "content": {
            "application/json;charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/FeedEntryInstancePOSTData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Invalid Id, No Data Updated or Invalid Data"
          },
          "409": {
            "description": "Conflict, Name Already Exists"
          },
          "500": {
            "description": "System Error"
          }
        }
      }
    },
    "/hccl/catalog/feedentryinstance/{id}": {
      "get": {
        "tags": [
          "/catalog"
        ],
        "summary": "Fetches based the id.",
        "operationId": "getFeedEntryInstanceById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
[...]
