
{"swagger":"2.0","info":{"description":"Application Services","version":"0.0.1","title":"SemaTree Tenant REST Services","termsOfService":"http://www.sematree.com","contact":{"name":"API Team"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"devops2.intigna.io","basePath":"/dc-tenant-service/tenants","tags":[{"name":"trutesta-healthz"},{"name":"asar"},{"name":"feedbacks"},{"name":"netpromoterinstances"},{"name":"options"},{"name":"admin"},{"name":"serviceinfo"},{"name":"publicdomain-config"},{"name":"security-info"},{"name":"registrations"},{"name":"tenant-users"},{"name":"settingsuser-profiles"},{"name":"domain-services"},{"name":"connectors"},{"name":"applicationfeatures"},{"name":"{tenant-id}users{username}feature-toggles"},{"name":"featurevideo"},{"name":"monitors"},{"name":"import"}],"schemes":["https","http"],"paths":{"/{tenantid}/brands/{id}":{"get":{"summary":"Fetches a Application Brand based on its Id.","description":"","operationId":"getApplicationBrandById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Application Brand.","description":"","operationId":"updateApplicationBrand","consumes":["multipart/form-data;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Application Brand.","required":true,"schema":{"$ref":"#/definitions/MultipartFormDataInput"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Application Brand.","description":"","operationId":"deleteApplicationBrand","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/brands":{"get":{"summary":"Fetches all Application Brands.","description":"","operationId":"getApplicationBrands","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"activeOnly","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"pageNumber","in":"query","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","default":1,"format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Create a new Application Brand.","description":"","operationId":"createApplicationBrand","consumes":["multipart/form-data;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Application Brand","required":true,"schema":{"$ref":"#/definitions/MultipartFormDataInput"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes the brand.","description":"","operationId":"deleteApplicationBrand_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/brands/{brandid}/masthead-logo":{"get":{"summary":"Used to render the master head Image.","description":"","operationId":"getBrandMasterHeadLogo","produces":["application/octet-stream;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"brandid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Master Head Logo Image.","description":"","operationId":"deleteBrandMasterHeadLogo","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"brandid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/brands/{brandid}/masthead-tagline":{"get":{"summary":"Used to render the master head Tagline.","description":"","operationId":"getBrandMasterHeadTagline","produces":["application/octet-stream;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"brandid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Master Head Tagline Image.","description":"","operationId":"deleteBrandMasterHeadTagline","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"brandid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/trutesta-healthz/{id}":{"get":{"tags":["trutesta-healthz"],"summary":"Fetches a Application Health Check based on its id.","description":"","operationId":"getApplicationHealthCheckById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/trutesta-healthz":{"get":{"tags":["trutesta-healthz"],"summary":"Fetches all Application Health Checks.","description":"","operationId":"getApplicationHealthChecks","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"applicationId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"dateStarts","in":"query","required":false,"type":"string","format":"date-time"},{"name":"dateEnds","in":"query","required":false,"type":"string","format":"date-time"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"isPaging","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"tags":["trutesta-healthz"],"summary":"Create a new Application Health Check.","description":"","operationId":"createApplicationHealthCheck","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Application Health Check.","required":true,"schema":{"$ref":"#/definitions/ApplicationHealthCheckPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/asar/reset-sso-id":{"put":{"tags":["asar"],"summary":"Reset User SSO ID and Remove User from Dashboard.","description":"","operationId":"resetUserSSOId","produces":["application/json;charset=UTF-8"],"parameters":[],"responses":{"204":{"description":"OK"},"500":{"description":"System error"}}}},"/feedbacks/{id}":{"get":{"tags":["feedbacks"],"summary":"Fetches a Feedback based on its id.","description":"","operationId":"getFeedbackById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["feedbacks"],"summary":"Updates an existing Feedbacks.","description":"","operationId":"updateFeedback","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Feedbacks.","required":true,"schema":{"$ref":"#/definitions/FeedbackPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"tags":["feedbacks"],"summary":"Deletes an existing Feedbacks.","description":"","operationId":"deleteFeedback","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/feedbacks":{"get":{"tags":["feedbacks"],"summary":"Fetches all Feedbacks.","description":"","operationId":"getFeedbacks","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"applicationId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"tags":["feedbacks"],"summary":"Create a new Feedbacks.","description":"","operationId":"createFeedback","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Feedbacks","required":true,"schema":{"$ref":"#/definitions/FeedbackPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/group-tenant-users/{group-tenant-user-id}/entries/{tenant-user-id}":{"delete":{"summary":"Deletes an existing Group Tenant User Entry.","description":"","operationId":"deleteGroupTenantUserEntry","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/query-group-tenant-users":{"post":{"summary":"Fetches all Group Tenant Users.","description":"","operationId":"getGroupTenantUsers","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Group Tenant Users.","required":true,"schema":{"$ref":"#/definitions/GroupTenantUserCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/group-tenant-users":{"post":{"summary":"Create a new Group Tenant User.","description":"","operationId":"createGroupTenantUser","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Group Tenant User.","required":true,"schema":{"$ref":"#/definitions/GroupTenantUserPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/group-tenant-users/{group-tenant-user-id}":{"get":{"summary":"Fetches a Group Tenant User based on its id.","description":"","operationId":"getGroupTenantUserById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Group Tenant User.","description":"","operationId":"updateGroupTenantUser","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Group Tenant User.","required":true,"schema":{"$ref":"#/definitions/GroupTenantUserPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Group Tenant User.","description":"","operationId":"deleteGroupTenantUser","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/group-tenant-users/{group-tenant-user-id}/query-entries":{"post":{"summary":"Fetches all Group Tenant User Entries by Group Tenant User Id.","description":"","operationId":"getGroupTenantUserEntriesByGroupTenantUserId","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Group Tenant User Entries by Group Tenant User Id.","required":true,"schema":{"$ref":"#/definitions/BaseCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/group-tenant-users/{group-tenant-user-id}/entries":{"post":{"summary":"Create a new Group Tenant User Entries.","description":"","operationId":"createGroupTenantUserEntries","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"group-tenant-user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Group Tenant User Entries.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/RelationshipPOSTData"}}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/netpromoterinstances/{id}":{"get":{"tags":["netpromoterinstances"],"summary":"Fetches a Netpromoter Instances based on its id.","description":"","operationId":"getNetpromoterInstancesById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["netpromoterinstances"],"summary":"Updates an existing Netpromoter Instances.","description":"","operationId":"updateNetpromoterInstances","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Netpromoter Instances.","required":true,"schema":{"$ref":"#/definitions/NetpromoterInstancesPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"tags":["netpromoterinstances"],"summary":"Deletes an existing Netpromoter Instances.","description":"","operationId":"deleteNetpromoterInstances","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/netpromoterinstances/applications/{applicationid}/usernames/{username}":{"get":{"tags":["netpromoterinstances"],"summary":"Fetches a Netpromoter Instances based on Application Id and Username.","description":"","operationId":"findPendingUserNetpromoterInstance","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/netpromoterinstances":{"get":{"tags":["netpromoterinstances"],"summary":"Fetches all Netpromoter Instances.","description":"","operationId":"getNetpromoterInstances","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"applicationId","in":"query","required":false,"type":"string","format":"uuid"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"tags":["netpromoterinstances"],"summary":"Create a new Netpromoter Instances.","description":"","operationId":"createNetpromoterInstances","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Netpromoter Instances","required":true,"schema":{"$ref":"#/definitions/NetpromoterInstancesPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/netpromoterinstances/userroles":{"get":{"tags":["netpromoterinstances"],"summary":"Get a list of available Net Promoter User Role Instances Instances.","description":"","operationId":"getNetpromoterInstanceUserRoleOptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/notification-groups/{notification-group-id}/emails":{"get":{"summary":"Fetches all Notification Group User Options.","description":"","operationId":"getNotificationGroupUserOptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/notification-groups/{notification-group-id}":{"get":{"summary":"Fetches a Notification Group based on its Id.","description":"","operationId":"getNotificationGroupById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Notification Group.","description":"","operationId":"updateNotificationGroup","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Notification Group.","required":true,"schema":{"$ref":"#/definitions/NotificationGroupPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Notification Group.","description":"","operationId":"deleteNotificationGroup","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/query-notification-groups":{"post":{"summary":"Fetches all Notification Groups.","description":"","operationId":"getNotificationGroups","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Notification Groups.","required":true,"schema":{"$ref":"#/definitions/NotificationGroupCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/notification-groups":{"post":{"summary":"Create a new Notification Group.","description":"","operationId":"createNotificationGroup","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Notification Group.","required":true,"schema":{"$ref":"#/definitions/NotificationGroupPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/{tenant-id}/notification-groups/{notification-group-id}/users":{"get":{"summary":"Fetches all Notification Group Users.","description":"","operationId":"getNotificationGroupUsers","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/notification-groups/{notification-group-id}/favorites":{"get":{"summary":"Fetches all Notification Group Favorites.","description":"","operationId":"getNotificationGroupFavorites","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"notification-group-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/query-news":{"post":{"summary":"Fetches all Notification News.","description":"","operationId":"getNotificationNews","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Notification News.","required":true,"schema":{"$ref":"#/definitions/NewsCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/news":{"post":{"summary":"Create a new Notification News.","description":"","operationId":"createNotificationNews","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Notification News.","required":true,"schema":{"$ref":"#/definitions/NotificationNewsPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/{tenant-id}/news/{news-id}":{"get":{"summary":"Get Notification News by Id.","description":"","operationId":"getNotificationNewsById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"news-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Ok"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System Error"}}},"put":{"summary":"Updates an existing Notification News.","description":"","operationId":"updateNotificationNews","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"news-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Notification News.","required":true,"schema":{"$ref":"#/definitions/NotificationNewsPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Notification News.","description":"","operationId":"deleteNotificationNews","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"news-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/news/{news-id}/activate":{"put":{"summary":"Mark Notification News to Active.","description":"","operationId":"markNotificationNewsToActivate","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"news-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/news/{news-id}/deactivate":{"put":{"summary":"Mark Notification News to InActive.","description":"","operationId":"markNotificationNewsToDeactivate","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"news-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/applications":{"post":{"tags":["options"],"summary":"Fetches all Application Options.","description":"","operationId":"getApplicationOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ApplicationCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/tenants/{tenant-id}/tenant-user-tags":{"post":{"tags":["options"],"summary":"Fetches all Tenant User Tag Options.","description":"","operationId":"getTenantUserTagOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantUserTagCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/tenant-user-log-events":{"get":{"tags":["options"],"summary":"Fetches all Tenant User Log Events.","description":"","operationId":"getTenantUserLogEvents","produces":["application/json;charset=UTF-8"],"parameters":[],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/tenant-user-group-types":{"get":{"tags":["options"],"summary":"Fetches all Tenant User Group Types.","description":"","operationId":"getTenantUserGroupTypes","produces":["application/json;charset=UTF-8"],"parameters":[],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/group-tenant-users":{"post":{"tags":["options"],"summary":"Fetches all Group Tenant User Options.","description":"","operationId":"getGroupTenantUserOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Group Tenant User Options.","required":true,"schema":{"$ref":"#/definitions/GroupTenantUserCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/{tenant-id}/notification-groups":{"post":{"tags":["options"],"summary":"Fetches all Notification Group Options.","description":"","operationId":"getNotificationGroupOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Notification Group Options.","required":true,"schema":{"$ref":"#/definitions/NotificationGroupCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/{tenant-id}/notification-groups-users":{"post":{"tags":["options"],"summary":"Fetches all Notification Group User Options.","description":"","operationId":"getNotificationGroupUserOptions_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Notification Group User Options.","required":true,"schema":{"$ref":"#/definitions/BaseCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/{tenant-id}/notification-groups-favorites":{"post":{"tags":["options"],"summary":"Fetches all Notification Group Favorite Options.","description":"","operationId":"getNotificationGroupFavoriteOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Notification Group Favorite Options.","required":true,"schema":{"$ref":"#/definitions/BaseCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/query-tenant-user-info-by-ids":{"post":{"tags":["options"],"summary":"Fetches all Tenant User Informations By Tenant User Id's.","description":"","operationId":"getTenantUserInfoByTenantUserIds","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Tenant User Informations By Tenant User Id's.","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/query-tenant-user-info-by-email-addresses":{"post":{"tags":["options"],"summary":"Fetches all Tenant User Informations By Email Addresses.","description":"","operationId":"getTenantUserInfoByEmailAddresses","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Tenant User Informations By Email Addresses.","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/tenant-user-tag-schemes":{"post":{"tags":["options"],"summary":"Fetches all Tenant User Tag Scheme Options.","description":"","operationId":"getTenantUserTagSchemeOptions","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Tenant User Tag Scheme Options.","required":true,"schema":{"$ref":"#/definitions/TenantUserTagSchemeCriteria"}}],"responses":{"200":{"description":"Ok"},"204":{"description":"No Content"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System Error"}}}},"/options/connectors":{"get":{"tags":["options"],"summary":"Fetches all Connector Options.","description":"","operationId":"getConnectorOptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"status","in":"query","required":false,"type":"boolean"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"isPaging","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/connectors/{connector-id}/operations/{id}":{"get":{"tags":["options"],"summary":"Fetches all Connector Operation Options.","description":"","operationId":"getConnectorOperationOptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"connector-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"status","in":"query","required":false,"type":"boolean"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"isPaging","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/http-methods":{"get":{"tags":["options"],"summary":"Fetches all HTTP Methods [Service Endpoint Operations].","description":"","operationId":"getHttpMethods","produces":["application/json;charset=UTF-8"],"parameters":[],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/options/widget-display-formats":{"get":{"tags":["options"],"summary":"Fetches all widget display formats.","description":"","operationId":"getWidgetDisplayFormats","produces":["application/json;charset=UTF-8"],"parameters":[],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/provision":{"post":{"summary":"Provisions a Tenant.","description":"","operationId":"provisionTenant","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK, Provisioning successful."},"500":{"description":"System error"}}}},"/{id}/provision/applications/{applicationid}":{"post":{"summary":"Provisions a Tenant Application.","description":"","operationId":"provisionTenantApplication","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Tenant Application provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/provision/users/{userid}":{"post":{"summary":"Provisions a Tenant User.","description":"","operationId":"provisionTenantUser","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Tenant User provisioned successfully."},"500":{"description":"System error"}}}},"/{tenant-id}/announcements/{announcement-id}":{"get":{"summary":"Fetches a Public Service Announcement based on its Id.","description":"","operationId":"getPublicServiceAnnouncementById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"announcement-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Public Service Announcement.","description":"","operationId":"updatePublicServiceAnnouncement","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"announcement-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Public Service Announcement.","required":true,"schema":{"$ref":"#/definitions/PublicServiceAnnouncementPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Public Service Announcement.","description":"","operationId":"deletePublicServiceAnnouncement","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"announcement-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/query-announcements":{"post":{"summary":"Fetches all Public Service Announcements.","description":"","operationId":"getPublicServiceAnnouncements","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Fetches all Public Service Announcements.","required":true,"schema":{"$ref":"#/definitions/PublicServiceAnnouncementCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/announcements":{"post":{"summary":"Create a new Public Service Announcement.","description":"","operationId":"createPublicServiceAnnouncement","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Public Service Announcement.","required":true,"schema":{"$ref":"#/definitions/PublicServiceAnnouncementPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/admin/applications/{id}/release-notes/{version-id}":{"get":{"tags":["admin"],"summary":"Fetches a Application What Is New based on its id.","description":"","operationId":"getReleaseNotesById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["admin"],"summary":"Updates an existing Application What Is New.","description":"","operationId":"updateReleaseNotes","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Application What Is New.","required":true,"schema":{"$ref":"#/definitions/ReleaseNotesPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"tags":["admin"],"summary":"Deletes an existing Application What Is New.","description":"","operationId":"deleteReleaseNotes","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/admin/applications/{id}/query-release-notes":{"post":{"tags":["admin"],"summary":"Fetches all Application What Is New.","description":"","operationId":"queryReleaseNotes","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ReleaseNotesCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/admin/applications/{id}/release-notes":{"post":{"tags":["admin"],"summary":"Create a new Application What Is New.","description":"","operationId":"createReleaseNotes","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Application What Is New.","required":true,"schema":{"$ref":"#/definitions/ReleaseNotesPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/admin/applications/{id}/release-notes/{version-id}/content":{"get":{"tags":["admin"],"summary":"Unpublishes a version summary.","description":"","operationId":"getReleaseNotes","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ReleaseNotesContentGETData"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/ReleaseNotesContentGETData"}},"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"put":{"tags":["admin"],"summary":"Unpublishes a version summary.","description":"","operationId":"updateReleaseNotes_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ReleaseNotesContentPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}}},"/admin/applications/{id}/release-notes/{version-id}/publish":{"put":{"tags":["admin"],"summary":"Publishes a version summary.","description":"","operationId":"publishReleaseNotes","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}}},"/admin/applications/{id}/release-notes/{version-id}/unpublish":{"put":{"tags":["admin"],"summary":"Unpublishes a version summary.","description":"","operationId":"unPublishReleaseNotes","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"version-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/currency":{"post":{"summary":"Data provisions the currency service for a Tenant.","description":"","operationId":"provisionCurrency","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Currency provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/crm":{"post":{"summary":"Data provisions the crm service for a Tenant.","description":"","operationId":"provisionCRM","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Tenant Application provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/notifications":{"post":{"summary":"Data provisions the notifications service for a Tenant.","description":"","operationId":"provisionNotifications","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Notifications provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/sprig":{"post":{"summary":"Data provisions the sprig service for a Tenant.","description":"","operationId":"provisionSprig","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Notifications provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/email":{"post":{"summary":"Data provisions the email service for a Tenant.","description":"","operationId":"provisionEmail","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Notifications provisioned successfully."},"500":{"description":"System error"}}}},"/{id}/shared-services-provisioning/organizations":{"post":{"summary":"Data provisions the organizations service for a Tenant.","description":"","operationId":"provisionOrganizations","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK, Notifications provisioned successfully."},"500":{"description":"System error"}}}},"/{tenant-id}/applications/{application-id}/libraries/{library-id}":{"get":{"summary":"Fetches a Tenant Application Library based on its id.","description":"","operationId":"getTenantApplicationLibraryById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"library-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant Application Library.","description":"","operationId":"deleteTenantApplicationLibrary","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"library-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/applications/{application-id}/query-libraries":{"post":{"summary":"Fetches all Tenant Application Libraries.","description":"","operationId":"getTenantApplicationLibraries","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantApplicationLibraryCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/applications/{application-id}/libraries":{"post":{"summary":"Create a new Multiple Tenant Application Libraries.","description":"","operationId":"createTenantApplicationLibraries","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Multiple Tenant Application Libraries.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/TenantApplicationLibraryPOSTData"}}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/{tenant-id}/applications/{application-id}/provisioning-logs":{"get":{"summary":"Fetches all Tenant Application Logs.","description":"","operationId":"getTenantApplicationLogs","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"status","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/serviceinfo":{"get":{"tags":["serviceinfo"],"summary":"Fetches all Tenant Application Services.","description":"","operationId":"getTenantApplicationServices","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"activeOnly","in":"query","required":false,"type":"string"},{"name":"serviceName","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"tags":["serviceinfo"],"summary":"Fetches all Tenant Application Services.","description":"","operationId":"getTenantApplicationServices_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Tenant Application Services.","required":true,"schema":{"$ref":"#/definitions/TenantApplicationServiceCriteria"}}],"responses":{"200":{"description":"Ok"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System Error"}}}},"/{tenant-id}/applications/{application-id}/roles":{"get":{"summary":"Fetches a Tenant Application roles based on the client id.","description":"","operationId":"getTenantApplicationRoles","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/applications/{applicationid}":{"get":{"summary":"Fetches a Tenant Application based on Tenant Id and Application Id.","description":"","operationId":"getTenantApplicationById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Adds an Application.","description":"","operationId":"addTenantApplication","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Delete an Application.","description":"","operationId":"deleteTenantApplication","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/applications":{"get":{"summary":"Fetches all Tenant Applications.","description":"","operationId":"getTenantApplications","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/applications/{applicationid}/services":{"get":{"summary":"Fetches a Tenant Application Services based on Tenant Id and Application Id.","description":"","operationId":"getTenantApplicationServicesById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/applications/{applicationid}/subscriptions/{id}":{"get":{"summary":"Fetches a Tenant Application Subscription based on its id and Tenant Application Id.","description":"","operationId":"getTenantApplicationSubscriptionById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Tenant Application Subscription.","description":"","operationId":"updateTenantApplicationSubscription","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant Application Subscription.","required":true,"schema":{"$ref":"#/definitions/TenantApplicationSubscriptionPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant Application Subscription.","description":"","operationId":"deleteTenantApplicationSubscription","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/applications/{applicationid}/subscriptions":{"get":{"summary":"Fetches all Tenant Application Subscriptions.","description":"","operationId":"getTenantApplicationSubscriptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Create a new Tenant Application Subscription.","description":"","operationId":"createTenantApplicationSubscription","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Tenant Application Subscription","required":true,"schema":{"$ref":"#/definitions/TenantApplicationSubscriptionPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/public/domain-config/{domain-name}":{"get":{"tags":["publicdomain-config"],"summary":"Retrieves the realm from the domain name.","description":"","operationId":"getTenantKeycloakConfigurationsForUi","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"domain-name","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/security-info":{"get":{"tags":["security-info"],"summary":"Fetches all Tenant Keycloak Configurations.","description":"","operationId":"getTenantKeycloakConfigurations","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"activeOnly","in":"query","required":false,"type":"boolean","default":true},{"name":"tenantUUID","in":"query","required":false,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/registrations":{"post":{"tags":["registrations"],"summary":"Registers a new user.","description":"","operationId":"registerTenant","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Registers a new Tenant","required":true,"schema":{"$ref":"#/definitions/SignUpPOSTData"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}":{"get":{"summary":"Fetches a Tenant based on its id.","description":"","operationId":"getTenantById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Tenant.","description":"","operationId":"updateTenant","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant.","required":true,"schema":{"$ref":"#/definitions/TenantPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/query-tenants":{"post":{"summary":"Fetches all Tenants.","description":"","operationId":"getTenants","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/":{"get":{"summary":"Fetches all Tenants.","description":"","operationId":"getTenants_1","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"activeOnly","in":"query","required":false,"type":"string"},{"name":"tenantName","in":"query","required":false,"type":"string"},{"name":"dataManagementType","in":"query","required":false,"type":"integer","format":"int32"},{"name":"tenantId","in":"query","required":false,"type":"string"},{"name":"emailAddress","in":"query","required":false,"type":"string"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"deprecated":true,"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Create a new Tenant.","description":"","operationId":"createTenant","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Tenant","required":true,"schema":{"$ref":"#/definitions/TenantPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/securityinfo":{"get":{"summary":"Fetches all Tenant Keycloak Configurations.","description":"","operationId":"getTenantKeycloakConfiguration","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"activeOnly","in":"query","required":false,"type":"string","default":"true"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/greet-users":{"post":{"summary":"Sends an email to the selected users.","description":"","operationId":"greetUsers","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/GreetUserPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/assign-user-groups":{"put":{"summary":"Assigns one or more groups to a user.","description":"","operationId":"assignUserGroups","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AssignUserGroupPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/assign-user-roles":{"put":{"summary":"Assigns one or more roles to the selected users.","description":"","operationId":"assignUserRoles","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AssignUserRolePUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/assign-user-applications":{"put":{"summary":"Assigns one or more applications to the selected users.","description":"","operationId":"assignUserApplications","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AssignUserApplicationPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/synchronize-idm-settings":{"put":{"summary":"Synchronizes users with idm.","description":"","operationId":"synchronizeIdms","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantUserBatchOperationData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/groups":{"get":{"summary":"Fetches all Groups associated with the tenant.","description":"","operationId":"getTenantGroups","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/register-users-idm":{"put":{"summary":"Finds users who are not registered with an IDM and registers them.","description":"","operationId":"registerTenantUsersWithIdm","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/BaseCriteria"}},{"name":"registerIdentityManager","in":"query","required":false,"type":"boolean","default":false}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/available-applications":{"get":{"summary":"Fetches all available applications.","description":"","operationId":"getAvailableApplications","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/import-user-fields":{"get":{"summary":"Fetches import user fields.","description":"","operationId":"getImportUserFields","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/export-users":{"post":{"summary":"Exports the selected users to a spreadsheet.","description":"","operationId":"exportUsers","produces":["application/octet-stream;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ExportUserCriteria"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/application/{applicationId}":{"get":{"summary":"Fetches an application id and name.","description":"","operationId":"getApplicationById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/verifiy-user/{username}":{"get":{"summary":"Verifies if the username is valid.","description":"","operationId":"verifyUsernameUnique","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/email-users":{"post":{"summary":"Sends a notifiction to TenantUsers that meet a criteria.","description":"","operationId":"emailUsers","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ExportUserCriteria"}},{"name":"mergeOnly","in":"query","required":false,"type":"boolean","default":true}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/application-subscriptions":{"post":{"summary":"Request a subscription.","description":"","operationId":"getApplicationSubscription","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/tenant-site-url":{"get":{"summary":"Fetches the tenant site URL.","description":"","operationId":"fetchTenantSiteUrl","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"patch":{"summary":"Sets the tenant site URL.","description":"","operationId":"updateTenantSiteUrl","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"tenant-site-url","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{id}/settings":{"get":{"summary":"Fetches all Tenant Default Settings.","description":"","operationId":"getTenantSettings","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"pageNumber","in":"query","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Create a new Tenant Default Setting.","description":"","operationId":"createTenantSetting","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Tenant Default Setting","required":true,"schema":{"$ref":"#/definitions/TenantSettingPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Tenant Default Setting.","description":"","operationId":"updateTenantSetting","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant Default Setting.","required":true,"schema":{"$ref":"#/definitions/TenantSettingPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant Default Setting.","description":"","operationId":"deleteTenantSetting","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/users/{userid}/roles":{"get":{"summary":"Fetches all Tenant User Application Roles.","description":"","operationId":"getTenantUserApplicationRoles","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"pageNumber","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Create a new Tenant User Application Role.","description":"","operationId":"createTenantUserApplicationRole","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Tenant User Application Role","required":true,"schema":{"$ref":"#/definitions/TenantUserApplicationRolePOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/users/{userid}/roles/{roleid}":{"delete":{"summary":"Deletes an existing Tenant User Application Role.","description":"","operationId":"deleteTenantUserApplicationRole","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"roleid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/applications/{application-id}/roles/{role}":{"delete":{"summary":"Assigns roles to a user.","description":"","operationId":"removeRole","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"role","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/users/{userid}/applications/{applicationid}":{"get":{"summary":"Fetches a Tenant User Application based on Tenant User Id and Application Id.","description":"","operationId":"getTenantUserApplicationById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant User Application based on Tenant User Id and Application Id.","description":"","operationId":"deleteTenantUserApplication","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"userid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"applicationid","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenantid}/users/{useridOrEmail}/applications":{"get":{"summary":"Fetches all applications that a user has been provisioned.","description":"","operationId":"getTenantUserApplications","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenantid","in":"path","required":true,"type":"string","format":"uuid"},{"name":"useridOrEmail","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/application-options":{"get":{"summary":"Fetches all applications that a user has been provisioned.","description":"","operationId":"getTenantUserApplicationOptions","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/applications/{application-id}/roles":{"get":{"summary":"Assigns one or more roles to a user.","description":"","operationId":"getAssignUserRoles","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"post":{"summary":"Assigns one or more roles to a user.","description":"","operationId":"assignRoles_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Assigns roles to a user.","description":"","operationId":"assignRoles","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Assigns one or more roles to a user.","description":"","operationId":"deleteRoles","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"application-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/tenant-users/dashboards/{dashboard-id}":{"get":{"tags":["tenant-users"],"summary":"Fetches a Tenant User Dashboard based on its id.","description":"","operationId":"getTenantUserDashboardById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"dashboard-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["tenant-users"],"summary":"Updates an existing Tenant User Dashboard.","description":"","operationId":"updateTenantUserDashboard","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"dashboard-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant User Dashboard.","required":true,"schema":{"$ref":"#/definitions/TenantUserDashboardPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}},"delete":{"tags":["tenant-users"],"summary":"Deletes an existing Tenant User Dashboard.","description":"","operationId":"deleteTenantUserDashboard","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"dashboard-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/tenant-users/query-dashboards":{"post":{"tags":["tenant-users"],"summary":"Fetches all Tenant User Dashboards.","description":"","operationId":"getTenantUserDashboards","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Fetches all Tenant User Dashboards.","required":true,"schema":{"$ref":"#/definitions/TenantUserDashboardCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/tenant-users/dashboards":{"post":{"tags":["tenant-users"],"summary":"Create a new Tenant User Dashboard.","description":"","operationId":"createTenantUserDashboard","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","description":"Create a new Tenant User Dashboard.","required":true,"schema":{"$ref":"#/definitions/TenantUserDashboardPOSTData"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name exists."},"500":{"description":"System error"}}}},"/tenant-users/dashboards/{dashboard-id}/config":{"put":{"tags":["tenant-users"],"summary":"Updates an existing Tenant User Dashboard Configuration.","description":"","operationId":"updateTenantUserDashboardConfiguration","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"dashboard-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant User Dashboard Configuration.","required":true,"schema":{"$ref":"#/definitions/TenantUserDashboardConfigPUTData"}}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"409":{"description":"Conflict, name already exists."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/logs/{id}":{"get":{"summary":"Fetches a Tenant User Log based on its id and Tenant User Id.","description":"","operationId":"getTenantUserLogById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Tenant User Log.","description":"","operationId":"updateTenantUserLog","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant User Log.","required":true,"schema":{"$ref":"#/definitions/TenantUserLogPUTData"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant User Log.","description":"","operationId":"deleteTenantUserLog","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/query-logs":{"post":{"summary":"Fetches all Tenant User Logs.","description":"","operationId":"getTenantUserLogs","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/BaseCriteria"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-name}/login-event":{"post":{"summary":"Create a new Tenant User Log by Username.","description":"","operationId":"createTenantUserLog","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-name","in":"path","required":true,"type":"string"}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}/logs":{"post":{"summary":"Create a new Tenant User Log.","description":"","operationId":"createTenantUserLog_1","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Create a new Tenant User Log","required":true,"schema":{"$ref":"#/definitions/TenantUserLogPOSTData"}}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/settings/user-profiles":{"get":{"tags":["settingsuser-profiles"],"summary":"Get a user profile.","description":"","operationId":"getTenantUser","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"query","required":true,"type":"string","maxLength":255,"minLength":1}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["settingsuser-profiles"],"summary":"Update user Profile information.","description":"","operationId":"updateTenantUser","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"query","required":true,"type":"string","maxLength":255,"minLength":1},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantUserPUTData"}}],"responses":{"204":{"description":"Success"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/settings/user-profiles/user-image":{"get":{"tags":["settingsuser-profiles"],"summary":"Used to render the Tenant User Image.","description":"","operationId":"getTenantUserImage","produces":["application/octet-stream;charset=UTF-8"],"parameters":[{"name":"username","in":"query","required":true,"type":"string","maxLength":255,"minLength":1}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"tags":["settingsuser-profiles"],"summary":"Updates an existing Tenant User.","description":"","operationId":"updateTenantUserImage","consumes":["multipart/form-data;charset=UTF-8"],"produces":["application/octet-stream;charset=UTF-8"],"parameters":[{"name":"username","in":"query","required":true,"type":"string","maxLength":255,"minLength":1},{"in":"body","name":"body","description":"Updates the user image.","required":true,"schema":{"$ref":"#/definitions/MultipartFormDataInput"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"tags":["settingsuser-profiles"],"summary":"Deletes an existing Tenant User Image.","description":"","operationId":"deleteTenantUserImage","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"username","in":"query","required":true,"type":"string","maxLength":255,"minLength":1}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/settings/user-profiles/query-tenant-users":{"post":{"tags":["settingsuser-profiles"],"summary":"Fetches all Tenant Users - New.","description":"","operationId":"getQueryTenantUsers","consumes":["application/json;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/TenantUserCriteria"}}],"responses":{"200":{"description":"OK"},"206":{"description":"Partial Content"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/users/{user-id}":{"get":{"summary":"Fetches a Tenant User based on its id and Tenant Id.","description":"","operationId":"getTenantUserById","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"put":{"summary":"Updates an existing Tenant User.","description":"","operationId":"updateTenantUser_1","consumes":["multipart/form-data;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Updates an existing Tenant User.","required":true,"schema":{"$ref":"#/definitions/MultipartFormDataInput"}}],"responses":{"204":{"description":"OK"},"409":{"description":"Conflict, name already exists."},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}},"delete":{"summary":"Deletes an existing Tenant User.","description":"","operationId":"deleteTenantUser","produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"name":"user-id","in":"path","required":true,"type":"string","format":"uuid"}],"responses":{"204":{"description":"OK"},"400":{"description":"Invalid id, no data updated or invalid data."},"500":{"description":"System error"}}}},"/{tenant-id}/import-users":{"post":{"summary":"Import Multiple Tenant Users.","description":"","operationId":"importTenantUsers","consumes":["multipart/form-data;charset=UTF-8"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"tenant-id","in":"path","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Import Multiple Tenant Users.","required":true,"schema":{"$ref":"#/definitions/MultipartFormDataInput"}},{"name":"registerIdentityManager","in":"query","required":false,"type":"boolean","default":false},{"name":"checkOnly","in":"query","required":false,"type":"boolean","default":true}],"responses":{"201":{"description":"OK"},"409":{"description":"Conflict, name 
[...]
