
<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'interests'">
  <app-hccluserprofile-crud [id]="currentUserProfileId" modeName="heading"></app-hccluserprofile-crud>
  
  <app-catalogentryinterest-list [criteria]="getInterestCriteria()" [showingSearch]="true"
   [showingSearchHeading]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
   [onRowClickBehavior]="onInterestRowClickBehavior()"></app-catalogentryinterest-list> 
</div>

<div *ngIf="currentTabId === 'interest'">
  <app-catalogentryinterest-crud [id]="interestId" modeName="heading"></app-catalogentryinterest-crud>
</div>

<!--
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-hccluserprofile-crud [id]="id" modeName="debug"></app-hccluserprofile-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-hccluserprofile-crud [id]="id" modeName="fk_menu"></app-hccluserprofile-crud>
</div>
-->



<div *ngIf="true">
  <li>CurrentId :{{currentTabId}}</li>
  <li>Id :{{id}}</li>
  <li>ChildId :{{childId}} stop_screen_share  </li>
  <li>Loading :{{loading}}</li>
  <li>ShowingTabset :{{showingTabset}}</li>
  <li>Tabs :{{tabs}}</li> 
</div>