<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Personal Statement: {{entity?.getDisplayText()}}</h1>
    </div>
  </div>
</div>


<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'details'">
  <app-student-personalstatement-details [id]="id" modeName="detail"></app-student-personalstatement-details>
</div>

<div *ngIf="currentTabId === 'messages'">
  Messages
</div>
 

<div *ngIf="currentTabId === 'search'">
  <app-student-personalstatement-search [id]="id" [searchType]="getSearchTypeFromRoute()"></app-student-personalstatement-search>
</div>

<div *ngIf="currentTabId === 'engage'">
  <app-student-personalstatement-engage [id]="id"></app-student-personalstatement-engage>
</div>

<div *ngIf="currentTabId === 'engage-map'">
  <app-map-addr-ui
    [criteria]="engageMapCriteria || undefined"
    (pinClick)="onEngageMapPinClick($event)">
  </app-map-addr-ui>
</div>

<div *ngIf="currentTabId === 'resumes'">
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openCreateResumeModal()">Create New Resume</button>
  </div>
  <app-student-personalstatement-resume-list 
    [personalStatementId]="id"
    [onRowClickBehavior]="getResumeRowClickBehavior()"
    [showAllResumes]="false"
    [showingSearch]="false" 
    [showingSearchHeading]="false" 
    [showingGoButton]="false" 
    [showingAddButton]="false" 
    [showingIdCheckbox]="false">
  </app-student-personalstatement-resume-list>
</div>

<div *ngIf="currentTabId === 'resume'">
  <app-student-personalstatement-resume [resumeId]="childId || ''"></app-student-personalstatement-resume>
</div>

<!--
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-personalstatement-crud [id]="id" modeName="debug"></app-personalstatement-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-personalstatement-crud [id]="id" modeName="fk_menu"></app-personalstatement-crud>
</div>
-->
