<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId"></app-simple-tabset>

<div *ngIf="currentTabId === 'list'">
  <div class="mb-3">
    <button class="btn btn-primary" (click)="openCreateResumeEntryModal()">Create New Resume Entry</button>
  </div>
  <app-student-personalstatement-resumeentries-list 
    [onRowClickBehavior]="getResumeEntryRowClickBehavior()"
    [showingSearch]="false" 
    [showingSearchHeading]="false" 
    [showingGoButton]="false" 
    [showingAddButton]="false" 
    [showingIdCheckbox]="false">
  </app-student-personalstatement-resumeentries-list>
</div>

<div *ngIf="currentTabId === 'details'">
  <app-student-personalstatement-resumeentry-details [resumeEntryId]="resumeEntryId || ''"></app-student-personalstatement-resumeentry-details>
</div>

