<!-- This is for fully-routable group components. ie {dashboard}/e/{entityType}/{entityId} -->
<!-- PMessage entity UI -->
<div *ngIf="entityType === 'catalogentry'">
  <app-catalogentry-ui [id]="entityId" ></app-catalogentry-ui>
</div>
<div *ngIf="entityType === 'catalogentrysignuppacket'">
  <app-catalogentrysignuppacket-group [id]="entityId" ></app-catalogentrysignuppacket-group>
</div>

<div *ngIf="entityType === 'pmessage'">
  <app-pmessage-ui [id]="entityId" [readonly]="readonly"></app-pmessage-ui>
</div>

<div *ngIf="entityType === 'pmfile'">
    <app-std-bubfile [entityId]="entityId" ></app-std-bubfile>
</div>
    <!-- PMFileGroup entity UI -->
<div *ngIf="entityType === 'pmfilegroup'">
    <app-pmfilegroup-ui [id]="entityId" [readonly]="readonly"></app-pmfilegroup-ui>
</div>
<div *ngIf="entityType === 'studentmonitoring'">
  <app-student-monitoring [userProfileId]="entityId"></app-student-monitoring>
</div>
<div *ngIf="entityType === 'vocationencoding'">
  <app-vocationencoding-display [id]="entityId" ></app-vocationencoding-display>
</div>
<!-- WorkRequest entity UI -->
<div *ngIf="entityType === 'workrequest'">
    <app-workrequest-group-ui [id]="entityId" [tabId]="tabId || 'details'" [childId]="childId || ''" [childTabId]="childTabId || 'details'"></app-workrequest-group-ui>
    <!-- <app-workrequest-ui [id]="entityId" [readonly]="readonly"></app-workrequest-ui> -->
</div>
<div *ngIf="entityType === 'workrequestdeliverable'">
  <app-workrequestdeliverable-ui [id]="entityId" ></app-workrequestdeliverable-ui>
  <!-- <app-workrequestdeliverable-ui [id]="entityId" [readonly]="readonly"></app-workrequestdeliverable-ui> -->
</div>

 

<!-- Fallback for unknown entity types -->
<div *ngIf="entityType && !isSupportedEntity()" class="unknown-entity-type">
  <div class="alert alert-warning">
    <i class="fas fa-exclamation-triangle me-2"></i>
   std-entity-ui Unknown entity type: <strong>{{ entityType }}</strong>
  </div>
</div>

<div *ngIf="false">
  <pre>
  entity-ui: component {{ entityType }} : {{ entityId }}
  </pre>
</div>