<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="!loading">
   
<div *ngIf="currentTabId === 'details'">
  <app-workrequest-crud [id]="id" [modeName]="'section'"></app-workrequest-crud>   
 <app-workrequest-update [id]="id" modeName="detail"></app-workrequest-update> 
      <!-- <app-workrequest-crud [id]="id" modeName="detail"></app-workrequest-crud> -->

 
</div>

<div *ngIf="currentTabId === 'details-complete'">
  <app-workrequest-crud [id]="id" [modeName]="'section'"></app-workrequest-crud> 
  <hr/>

  <div class="column-right">
        
    <div *ngIf="getCurrentEntity().getData().subjectEntityType == 'ProviderRequest'">
       <app-providerrequest-crud [id]="getCurrentEntity().getData().subjectEntityId" [modeName]="'section'"></app-providerrequest-crud>
    </div>

  </div>
</div>


<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-workrequest-crud [id]="id" modeName="create"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'update'">
  <app-workrequest-crud [id]="id" [modeName]="'section'"></app-workrequest-crud> 
  <hr/>
 <app-workrequest-update [id]="id" modeName="detail"></app-workrequest-update> 
</div>

<div *ngIf="currentTabId === 'items'">
  
  <div id="items" *ngIf="true">
  <app-workrequestitem-list [criteria]="itemsCriteria" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false" 
  [onRowClickBehavior]="myOnRowClickBehavior()"></app-workrequestitem-list>
</div>
 
</div>

<div *ngIf="currentTabId === 'workRequestItem'">
  <app-workrequestitem-crud [id]="childId" modeName="section"></app-workrequestitem-crud>

<div *ngIf="canChangeWorkItemStateToComplete(this.workRequestItem) === true" class="detail-group">
  <!-- <label>Current State Code:</label>
  <span>{{ this.workRequestItem?.getCurrentStateCode() }} 
  <input type="button" value="Complete Item" (click)="openCompleteWorkRequestItemModal()"></span> -->
</div>
<div class="detail-group">
  <label>Current State Code:</label>
  <app-std-mdb-entitystate [currentStateCode]="this.workRequestItem?.getCurrentStateCode() || ''" 
  [entityName]="'WorkRequestItem'" [entityId]="this.workRequestItem?.getId()"></app-std-mdb-entitystate> 
</div>

  <div *ngIf="workRequestItem?.getActionCode() === 'EnqueueRFI'">
    <h6> Show Enqueue RFI Content</h6>
  </div>

  <div *ngIf="workRequestItem?.getActionCode() === 'AttachRFIContent'">
    <div *ngIf="workRequestItem?.getCurrentStateCode() !== 'completed'">
      <app-workrequestitem-attachrficontent-addentries [id]="id || ''" [childId]="childId || ''"></app-workrequestitem-attachrficontent-addentries>
    </div>

    <div *ngIf="workRequestItem?.getCurrentStateCode() === 'completed' && this.workItemDeliverableId !== ''">
      <h6>Showing Deliverable </h6>
      <hr/>
      <app-workitemdeliverable-crud [id]="this.workItemDeliverableId" modeName="section"></app-workitemdeliverable-crud>
    </div>
  </div>
</div>


<div *ngIf="currentTabId === 'logs'">
  <div class="mb-3">
    <app-simple-buttonbar 
      [buttonBar]="getWorkRequestActionsButtonBar()" 
      displayMode="select"
      placeholder="Select an action..."
      (buttonSelected)="onWorkRequestActionSelected($event)">
    </app-simple-buttonbar>
  </div>
  <hr/>
  <app-workrequestlog-list [criteria]="getLogsCriteria()" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"></app-workrequestlog-list>
 
</div>

<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-workrequest-crud [id]="id" modeName="debug"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  
</div> 
</div>

<div *ngIf="true">
<li>CurrentId :{{currentTabId}}</li>
<li>Id :{{id}}</li>
<li>ChildId :{{childId}}</li>
<li>Loading :{{loading}}</li>
<li>ShowingTabset :{{showingTabset}}</li>
<li>Tabs :{{tabs}}</li> 
</div>