<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
<div *ngIf="currentTabId === 'details'">
  <app-workrequest-crud [id]="id" modeName="detail"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-workrequest-crud [id]="id" modeName="create"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'items'">
  <app-workrequest-list [criteria]="itemsCriteria" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false" onRowClickFunction="onRowClickFunction"></app-workrequest-list>
  <!--  <app-workrequest-update [workRequestId]="id" modeName="detail"></app-workrequest-update> -->
</div>

<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-workrequest-crud [id]="id" modeName="debug"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  
</div> 

{{currentTabId}}