
<app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>

<div *ngIf="!isTicketAccepted()">
  <button (click)="openAcceptModal()" class="btn btn-primary">
    <i class="fas fa-check me-2"></i>
    Accept Ticket
  </button>
</div>
<div *ngIf="isTicketAccepted()"><app-std-mdb-form-text 
  prefix="workRequest" 
  name="rerouteText"
  label="Reroute Text"
  [required]="true"
  [error]="error"
  [(ngModel)]="acceptText">
</app-std-mdb-form-text>
    <!-- <app-available-selector [available]="availableQueues" (selected)="rerouteTicket($event)"></app-available-selector> -->
    <app-menu-control-data-list
    [menuControlDataList]="this.menu_queues || null"
    placeholder="Select work queue..."
    (selectionChange)="onWorkQueueChange($event)">
  </app-menu-control-data-list>
  
    <button (click)="rerouteTicket()" class="btn btn-primary">Reroute Ticket</button>
</div>
<pre *ngIf="false">
    {{ entity.dump() }}</pre> 