

<app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>

<div *ngIf="isLoading()">Loading... </div>
<div *ngIf="!isLoading()">
<div *ngIf="!isTicketAccepted()">
  <button (click)="openAcceptModal()" class="btn btn-primary">
    <i class="fas fa-check me-2"></i>
    Accept Ticket
  </button>
<hr/>
</div>

<div *ngIf="isTicketAccepted()">
  <div class="d-flex gap-3 mb-3">
    <button (click)="openAttachContentModal()" class="btn btn-outline-primary">
      <i class="fas fa-paperclip me-2"></i>
      Attach RFI Content
    </button>
    <button (click)="openEnqueueModal()" class="btn btn-outline-success">
      <i class="fas fa-share me-2"></i>
      Enqueue RFI
    </button>
  </div>
</div>

</div>


<div id="items" *ngIf="true">
  <app-workrequestitem-list [criteria]="itemsCriteria" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false" [onRowClickBehavior]="myOnRowClickBehavior()"></app-workrequestitem-list>
</div>


<pre *ngIf="false">
    {{ entity.dump() }}</pre> 