<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="!loading">
   
<div *ngIf="currentTabId === 'details'">
  <app-workrequest-crud [id]="id" modeName="detail"></app-workrequest-crud>

 
</div>

<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-workrequest-crud [id]="id" modeName="create"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'update'">
  <app-workrequest-crud [id]="id" [modeName]="'section'"></app-workrequest-crud> 
  
 <app-workrequest-update [id]="id" modeName="detail"></app-workrequest-update> 
</div>

<div *ngIf="currentTabId === 'items'">
  
  <div id="items" *ngIf="true">
  <app-workrequestitem-list [criteria]="itemsCriteria" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false" [onRowClickBehavior]="myOnRowClickBehavior()"></app-workrequestitem-list>
</div>
 
</div>

<div *ngIf="currentTabId === 'workRequestItem'">
  <app-workrequestitem-crud [id]="childId" modeName="section"></app-workrequestitem-crud>
 
  <app-workrequestitem-attachrficontent-addentries [id]="id || ''" [childId]="childId || ''"></app-workrequestitem-attachrficontent-addentries>
</div>


<div *ngIf="currentTabId === 'logs'">
  <app-workrequest-route [id]="id"></app-workrequest-route>
  <hr/>
  <app-workrequestlog-list [criteria]="getLogsCriteria()" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"></app-workrequestlog-list>
 
</div>
<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-workrequest-crud [id]="id" modeName="debug"></app-workrequest-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  
</div> 
</div>

<div *ngIf="currentTabId === 'false'">
<li>CurrentId :{{currentTabId}}</li>
<li>Id :{{id}}</li>
<li>ChildId :{{childId}}</li>
<li>Loading :{{loading}}</li>
<li>ShowingTabset :{{showingTabset}}</li>
<li>Tabs :{{tabs}}</li> 
<li> WorkRequestGETData :<pre>{{ this.entity | json}}</pre></li>
</div>