

<app-simple-messages-section [messagesList]="this.messages"></app-simple-messages-section>

<div *ngIf="isLoading()">Loading... </div>
<div *ngIf="!isLoading()">
<div *ngIf="!isTicketAccepted()">
  <app-std-mdb-form-text 
    prefix="workRequest" 
    name="acceptText"
    label="Accept Text"
    [required]="true"
    [error]="error"
    [(ngModel)]="acceptText">
  </app-std-mdb-form-text>
    <button (click)="acceptTicket()" class="btn btn-primary">Accept Ticket</button>
</div>
<hr/>

<div id="items" *ngIf="true">
  <app-workrequestitem-list [criteria]="itemsCriteria" [showingSearch]="false" [showingSearchHeading]="false" 
  [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false" [onRowClickBehavior]="myOnRowClickBehavior()"></app-workrequestitem-list>
</div>

<!-- create a radio button to select the type of work request item to add -->
<div>
  <input type="radio" name="workRequestItemType" value="attachRFIContent" [checked]="showingAttachRFIContent" (click)="showingAttachRFIContent = true"> Attach RFI Content
  <input type="radio" name="workRequestItemType" value="enqueueRFI" [checked]="!showingAttachRFIContent" (click)="showingAttachRFIContent = false"> Enqueue RFI
</div>
<hr/>
<div *ngIf="isShowingEnqueueRFI() ">
  <div id="enqueueRFI">  
    <app-workrequestitem-enqueuerfi [id]="id"></app-workrequestitem-enqueuerfi>
  </div>
</div>

<div *ngIf="isShowingAttachRFIContent() ">
  <div id="attachRFIContent"> 
    <app-workrequestitem-attachrficontent [id]="id"></app-workrequestitem-attachrficontent>
  </div>
</div>
</div>

<pre *ngIf="false">
    {{ entity.dump() }}</pre> 