<div class="modal-header text-white">
  <h5 class="modal-title">Set Password</h5>
  <span class="fa fa-times cursorPointer" (click)="onCancel()"></span>
</div>

<div class="modal-body">
  <form [formGroup]="passwordForm">
    <div class="form-symbols-text text-end">
      <small class="text-muted">
        <span class="requiredField">* </span>Required fields
      </small>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-10 offset-md-1">

          <app-std-mdb-form-text
            prefix="setPassword"
            name="password"
            label="New Password"
            [required]="true"
            [error]="error"
            formControlName="password">
          </app-std-mdb-form-text>

          <app-std-mdb-form-text
            prefix="setPassword"
            name="confirmPassword"
            label="Confirm Password"
            [required]="true"
            [error]="error"
            formControlName="confirmPassword">
          </app-std-mdb-form-text>

          <div
            *ngIf="passwordForm.get('confirmPassword')?.touched && !passwordsMatch"
            class="alert alert-warning mt-2">
            <i class="fas fa-exclamation-triangle me-2"></i>
            Passwords do not match.
          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-sm btn-primary"
    (click)="onSubmit()"
    [disabled]="!passwordForm.valid || !passwordsMatch">
    Set Password
  </button>
  <button type="button" class="btn btn-sm btn-dark" (click)="onCancel()">
    Cancel
  </button>
</div>
