<div class="search-list-container">
  <h2>CL Students Integration</h2>
  <div class="search-list-button-bar">
    <button class="search-list-button-bar-button" (click)="onGoClick()">Go</button>
    <button class="search-list-button-bar-button btn-success" (click)="onPromoteStudents()">Promote</button>
  </div>
  <form class="search-list-search-bar" (submit)="onSearch(searchInput.value); $event.preventDefault();">
    <input #searchInput type="text" class="search-list-input" placeholder="search by name or student ID, * for wildcard" />
    <button type="submit" class="search-list-input-button">
      <span class="material-icons" aria-label="Search">search</span>
    </button>
    <button type="button" class="search-list-input-button" (click)="onAdvancedSearch()">
      <span class="material-icons" aria-label="Advanced Search">tune</span>
    </button>
  </form>
  <div #gridContainer class="search-list-grid"></div>
</div> 