<li mdbDropdown class="nav-item dropdown">
  <a
    mdbDropdownToggle
    class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
    id="langDropdownMenuLink"
    role="button"
    aria-expanded="false"
  >
    <i class="fas fa-language"></i>
    Lang: {{ currentLanguage }}
  </a>

  <ul
    mdbDropdownMenu
    class="dropdown-menu dropdown-menu-end"
    aria-labelledby="langDropdownMenuLink"
  >
    @for (language of languages; track language) {
      <li
        (click)="setLanguage(language)"
        [class.selected]="getLanguageCode(language) === currentLanguage"
        class="selectable-list-popover__list__item"
      >
        <a class="dropdown-item">{{ language }}</a>
      </li>
    } @empty {
      <li class="dropdown-item text-muted">There are no items.</li>
    }
  </ul>
</li>
