<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>


<div *ngIf="currentTabId === 'details'">
  <h1>Details</h1>
  <app-catalogentrysignuppacket-crud [id]="id" [modeName]="CRUD_MODES.DETAIL"></app-catalogentrysignuppacket-crud>
  <hr>
</div>
 
<div *ngIf="currentTabId === 'filegroup'">
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0"><i class="fas fa-folder-tree me-2"></i>File Group</h5>
    </div>
    <div class="card-body">
      <!-- If fileGroupId is null, show create button -->
      <div *ngIf="!getFileGroupId() && !creatingFileGroup" class="text-center py-5">
        <i class="fas fa-folder-open fa-3x text-muted mb-3"></i>
        <p class="text-muted">No file group is associated with this signup packet.</p> 
      </div>

      
      <!-- If fileGroupId is not null, display the pmfilegroup-ui component -->
      <app-pmfilegroup-ui 
        *ngIf="getFileGroupId() && !creatingFileGroup" 
        [id]="getFileGroupId()!" [readonly]="true">
      </app-pmfilegroup-ui>
    </div>
  </div>
</div>

