<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
<div *ngIf="currentTabId === 'details'">
  <app-catalogentry-crud [id]="id" modeName="edit"></app-catalogentry-crud>
</div>

<div *ngIf="currentTabId === 'icon'">
  <h1>Icon</h1>
  Have icon text here, and then generate an icon choice, to select. 

</div>

<div *ngIf="currentTabId === 'vocode'">
  <h1>Vocation Encoding</h1>
  Have vocode text here, and then generate a vocode choice, to select. 
  Display current vocode instance tree here 
  
</div>

<div *ngIf="currentTabId === 'signup'">
  <h1>Signup</h1>
  Have signup text here, and then generate a signup choice, to select. 
  Display current signup instance tree here 
  <!-- <app-std-entity-section entityType="catalogentrysignuppacket" entityId="signupPacketId" ></app-std-entity-section> -->
  <app-catalogentrysignuppacket-ui [id]="getCurrentEntity().getSignupPacketId() || ''" ></app-catalogentrysignuppacket-ui>
</div>

<pre>
currentTabId: {{currentTabId}}
id: {{id}}
</pre>