

<div class="search-list-container">
    <span *ngIf="showingSearchHeading" class="search-list-title">{{ this.searchHeading }}</span>
 
  <form (submit)="onFormSubmit($event)">
<!--
    <div *ngIf="showingButtonBar" class="search-list-button-bar"> 
        <button 
          mat-button type="button" class="search-list-input-button"
          *ngFor="let button of buttonBar?.buttons"
          (click)="__onButtonClick(button.id)"
          class="button-item">
          <ng-container >
            {{ button.label }}
          </ng-container>
        </button>
      </div>
      <p>buttonBar: {{ buttonBar | json }}</p>
      <app-simple-buttonbar [buttonBar]="getButtonBar()" alertMsg="test"></app-simple-buttonbar>
      <p>Next</p>
-->
    <div *ngIf="showingButtonBar" class="search-list-button-bar"> 
        <!-- Moving on ! will not work in ngFor. -->
        <button mat-button   type="button" class="search-list-input-button"
        (click)="__onButtonClick('add')"
        class="button-item">
        <ng-container >
          Add SelectedItems
        </ng-container>
      </button>
      <button mat-button type="button"
        (click)="__onButtonClick('cancel')"
        class="button-item">
        <ng-container >
          Cancel
        </ng-container>
      </button>
    </div> 

    <div *ngIf="showingSearch" class="search-list-search-bar" >
      <div *ngIf="showingGoButton" class="search-list-button-bar">
        <button mat-button type="button" class="search-list-button-bar-button btn-primary" (click)="onGoClick()">{{ goButtonLabel }}</button> 
        &nbsp;
      </div>
        <input #searchInput type="text" class="search-list-input" [placeholder]="searchPlaceholder" (keydown.enter)="onFormSubmit($event)" />
      <button mat-button type="submit" class="search-list-input-button">
        <span class="material-icons" aria-label="Search">{{ searchButtonLabel }}</span>
      </button>
      <button mat-button *ngIf="showingAdvancedSearch" type="button" class="search-list-input-button" (click)="onAdvancedSearch()">
        <span class="material-icons" aria-label="Advanced Search">(AdvSrch)</span>
      </button>
      <button mat-button *ngIf="showingAddButton" type="button" class="search-list-input-button" (click)="onAdd()">
        <span class="material-icons" aria-label="Add">{{ addButtonLabel }}</span>
      </button>
    </div>

    <div *ngIf="!showingSearch" class="search-list-search-bar" >
      <div *ngIf="showingGoButton" class="search-list-button-bar">
        <button mat-button type="button" class="search-list-button-bar-button btn-primary" (click)="onGoClick()">{{ goButtonLabel }}</button> 
        &nbsp;
      </div>
  
      <button mat-button *ngIf="showingAddButton" type="button" class="search-list-input-button" (click)="onAdd()">
        <span class="material-icons" aria-label="Add">{{ addButtonLabel }}</span>
      </button>
    </div>
    <div class="search-list-grid-wrapper" [class.is-loading]="isLoading">
      <div #gridContainer class="search-list-grid"></div>
      <div class="search-list-loading-overlay" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="search-list-server-pagination" *ngIf="showingServerPagination">
      <button
        type="button"
        class="search-list-page-btn"
        [disabled]="currentPage <= 1 || isLoading"
        (click)="goToPreviousPage()">
        Previous
      </button>
      <div class="search-list-page-center">
        <div class="search-list-page-bubbles" role="navigation" aria-label="Pagination">
          <ng-container *ngFor="let page of getVisiblePageNumbers()">
            <span *ngIf="page === 'ellipsis'" class="search-list-page-ellipsis" aria-hidden="true">…</span>
            <button
              *ngIf="page !== 'ellipsis'"
              type="button"
              class="search-list-page-bubble"
              [class.active]="page === currentPage"
              [disabled]="isLoading || page === currentPage"
              [attr.aria-current]="page === currentPage ? 'page' : null"
              [attr.aria-label]="'Go to page ' + page"
              (click)="goToPage(page)">
              {{ page }}
            </button>
          </ng-container>
        </div>
        <span class="search-list-page-range">({{ pageRangeLabel }})</span>
      </div>
      <button
        type="button"
        class="search-list-page-btn"
        [disabled]="currentPage >= getTotalPages() || isLoading"
        (click)="goToNextPage()">
        Next
      </button>
    </div>
  </form>
 <hr>