<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
<div *ngIf="currentTabId === 'details'">
  <app-catalogentry-crud [id]="id" modeName="edit"></app-catalogentry-crud>
</div>

<div *ngIf="currentTabId === 'create'">
  <h1>Create</h1>
  <app-catalogentry-crud [id]="id" modeName="create"></app-catalogentry-crud>
</div>

<div *ngIf="currentTabId === 'debug'">
  <h1>CRUD Modes DEBUG</h1>
  <hr>
  <app-catalogentry-crud [id]="id" modeName="debug"></app-catalogentry-crud>
</div>

<div *ngIf="currentTabId === 'fk_menu'">
  <h1>FK_MENU</h1>
  <app-catalogentry-crud [id]="id" modeName="fk_menu"></app-catalogentry-crud>
</div>

