<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  
     
  <div *ngIf="currentTabId === 'queue'">
  {{ getQueue() | json }}
    <!-- <app-provider-workrequest-tab-dash  [id]="getOrganizationId()" modeName="detail"></app-provider-workrequest-tab-dash> -->
  </div>


  <div *ngIf="currentTabId === 'mytickets'">
    <app-workrequest-list [criteria]="getWorkRequestCriteriaForMyTickets()" [showingSearchHeading]="false" 
    [showingSearch]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
    [onRowClickBehavior]="onClickWorkRequestRow()"></app-workrequest-list>  
  </div>

  <!-- <div *ngFor="let queue of getWorkQueues()">
  <div *ngIf="currentTabId === 'queue' && this.childId !== undefined">
 </div> -->


</div>

<div *ngIf="true">
  <li>CurrentId :{{currentTabId}}</li>
  <li>QueueId :{{queueId}}</li>
  <li>Queue :{{getQueue() | json}}</li>
  <li>Id :{{id}}</li>
  <li>ChildId :{{childId}}</li>
  <li>Loading :{{loading}}</li>
  <li>ShowingTabset :{{showingTabset}}</li>
  <li>Tabs :{{tabs | json}}</li> 
  <li>Tab: {{ tabId }}</li>
  <li>OrganizationId :{{organizationId}}</li>
    </div>
