<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  
    
  <div *ngIf="currentTabId === 'queue'">
    <app-workrequest-list [criteria]="getWorkRequestCriteriaForQueue()" [showingSearchHeading]="false" 
      [showingSearch]="false" [showingGoButton]="false" [showingAddButton]="false" [showingIdCheckbox]="false"
      [onRowClickBehavior]="onClickWorkRequestRow()"></app-workrequest-list>  
    </div>
    
    
    <div *ngIf="currentTabId === 'ticket'">
      {{ getTicket() | json }}
      <!-- <app-workrequest-crud [id]="getTicketId()" [modeName]="'section'"></app-workrequest-crud>   
     <app-workrequest-update [id]="getTicketId()" modeName="detail"></app-workrequest-update>  -->
          <!-- <app-workrequest-crud [id]="id" modeName="detail"></app-workrequest-crud> -->
    
     
    </div>
        
      
  <div *ngIf="currentTabId === 'mytickets'">
    
  </div>

  <!-- <div *ngFor="let queue of getWorkQueues()">
  <div *ngIf="currentTabId === 'queue' && this.childId !== undefined">
 </div> -->



<div *ngIf="true">
  <li>CurrentTabId :{{currentTabId}}</li>
  <li>QueueId :{{queueId}}</li>
  <li>Queue :{{getQueue()?.name }}</li>
  <li>Id :{{id}}</li>
  <li>ChildId :{{childId}}</li>
  <li>TicketId :{{ticketId}}</li>
  <li>Ticket :{{getTicket()?.name }}</li>
  <li>Loading :{{loading}}</li>
  <li>ShowingTabset :{{showingTabset}}</li>
  <li>Tabs :{{tabs | json}}</li> 
  <li>Tab: {{ tabId }}</li>
  <li>OrganizationId :{{organizationId}}</li>
    </div>

  </div>