<app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>

<div *ngIf="currentTabId === 'overview'">
  <app-swcat-trutesta-tab-overview [id]="this.id"></app-swcat-trutesta-tab-overview>
</div>

<div *ngIf="currentTabId === 'usage'">
  <h1>Trutesta - Software Usage</h1>
  <app-swcat-trutesta-tab-usage [id]="this.id"></app-swcat-trutesta-tab-usage>
</div>

<div *ngIf="true">
    <li>CurrentId :{{currentTabId}}</li>
    <li>Id :{{id}}</li>
    <li>ChildId :{{childId}}</li>
    <li>Loading :{{loading}}</li>
    <li>ShowingTabset :{{showingTabset}}</li>
    <li>Tabs :{{tabs}}</li> 
  </div>
