<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  <div *ngIf="currentTabId === 'dash' && id">   
    <app-catalogentry-list
    [criteria]="getCatalogEntryCriteria()" 
    [onRowClickBehavior]="getCatalogEntryOnClickBehavior()"
    [showingAddButton]="true"
    [showingGoButton]="false"
    [showingSearchHeading]="false"
    [showingSearch]="true"
    [showingIdCheckbox]="false"
    [onAddAction]="onAddButtonClick()"
    ></app-catalogentry-list>

    <div *ngIf="catalogEntryId != ''">
      <app-catalogentry-ui [id]="this.catalogEntryId"></app-catalogentry-ui>
    </div>
  </div>
</div>
