
<div *ngIf="!loading">
    <app-simple-tabset *ngIf="showingTabset" [tabs]="tabs" [currentTabId]="currentTabId" ></app-simple-tabset>
  
     
  <div *ngIf="currentTabId === 'dash'">   
    <app-catalogentry-list [criteria]="getCatalogEntryCriteria()" 
    [onRowClickBehavior]="getCatalogEntryOnClickBehavior()"
    [showingAddButton]="false"
    [showingGoButton]="false"
    [showingSearchHeading]="false"
    [showingSearch]="true"
    [showingIdCheckbox]="false"
    ></app-catalogentry-list>

    <div *ngIf="catalogEntryId != ''">
    <app-catalogentry-crud [id]="this.catalogEntryId" [modeName]="'section'"></app-catalogentry-crud>
    </div>
  </div>

{{currentTabId}}
{{this.id}}
{{loading}} 
