@use "mdb-angular-ui-kit/assets/scss/mdb.scss" as *;
@import "@fortawesome/fontawesome-free/css/all.css";

$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  margin: 0;
}

.table > thead > tr > th {
  border-bottom-width: 2px;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: inherit;
}

.sidenav-inner .sidenav {
  z-index: 1000;
}

.sidenav-inner ~ .sidenav-backdrop {
  z-index: 999 !important;
}

@media (min-width: 1400px) {
  #main-navbar,
  footer.fixed-bottom {
    padding-left: 240px;
  }
}

#main-wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #eef5f9;
}


.body-wrapper {
 // margin-top: 58px;
  padding-top: calc(60px + 30px)
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important
}
