<app-simple-tabset
  [tabs]="tabs"
  [currentTabId]="currentTabId">
</app-simple-tabset>

<div *ngIf="currentTabId === 'details' && id">   
  <!-- <li>Name :       <app-workrequest-crud [id]="id" [modeName]="'fk'"></app-workrequest-crud></li> -->
  <app-workrequest-crud [id]="id" [modeName]="'detail'"></app-workrequest-crud> 
</div>

<div *ngIf="currentTabId === 'update' && id">   
  <!-- <li>Name :       <app-workrequest-crud [id]="id" [modeName]="'fk'"></app-workrequest-crud></li> -->
  <app-workrequest-update [id]="id"></app-workrequest-update> 
</div>

<div *ngIf="currentTabId === 'logs' && id">   
  <!-- <li>Name :       <app-workrequest-crud [id]="id" [modeName]="'fk'"></app-workrequest-crud></li> -->
  <!-- <app-workrequest-logs [id]="id"></app-workrequest-logs>  -->
   Logs!
</div>
