<div class="menu-control-dropdown">
  <select 
    [disabled]="disabled || readonly"
    (change)="onSelectionChange($event)"
    class="form-select"
    [class.disabled]="disabled"
    [class.readonly]="readonly">
    
    <option value="" [selected]="!selectedItem">
      {{ placeholder }}
    </option>
    
    <option 
      *ngFor="let item of menuItems" 
      [value]="item.id"
      [selected]="item.selected === true">
      {{ item.name || 'Unnamed Item' }}
    </option>
  </select>
  
  <div *ngIf="selectedItem" class="selected-item-info">
    <small class="text-muted">
      <span *ngIf="selectedItem.helpText">{{ selectedItem.helpText }}</span>
    </small>
  </div>
</div>
