<div class="clstudent-container">
  <div *ngIf="loading" class="loading">
    <p>Loading student data...</p>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="studentData && !loading" class="student-data">
    <h2>Student Information</h2>
    
    <div class="student-details">
      <div class="detail-row">
        <label>ID:</label>
        <span>{{ studentData.id }}</span>
      </div>
      
      <div class="detail-row">
        <label>Name:</label>
        <span>{{ studentData.name }}</span>
      </div>
      
      <div class="detail-row">
        <label>First Name:</label>
        <span>{{ studentData.firstName }}</span>
      </div>
      
      <div class="detail-row">
        <label>Last Name:</label>
        <span>{{ studentData.lastName }}</span>
      </div>
      
      <div class="detail-row">
        <label>Business Code:</label>
        <span>{{ studentData.businessCode }}</span>
      </div>
      
      <div class="detail-row">
        <label>Email:</label>
        <span>{{ studentData.userEmail }}</span>
      </div>
      
      <div class="detail-row">
        <label>Cell Phone:</label>
        <span>{{ studentData.cellPhoneNumber }}</span>
      </div>
      
      <div class="detail-row">
        <label>Work Phone:</label>
        <span>{{ studentData.workPhoneNumber }}</span>
      </div>
      
      <div class="detail-row">
        <label>School ID:</label>
        <span>{{ studentData.schoolId }}</span>
      </div>
      
      <div class="detail-row">
        <label>Available:</label>
        <span>{{ studentData.available }}</span>
      </div>
      
      <div class="detail-row">
        <label>Data Origin Code:</label>
        <span>{{ studentData.dataOriginCode }}</span>
      </div>
      
      <div *ngIf="studentData.dateCreated" class="detail-row">
        <label>Created:</label>
        <span>{{ studentData.dateCreated.formattedDateTime || studentData.dateCreated.date }}</span>
      </div>
      
      <div *ngIf="studentData.dateLastUpdated" class="detail-row">
        <label>Last Updated:</label>
        <span>{{ studentData.dateLastUpdated.formattedDateTime || studentData.dateLastUpdated.date }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="!studentData && !loading && !error" class="no-data">
    <p>No student data available. Please provide a valid student ID.</p>
  </div>
</div>
